﻿@{
    ViewBag.Title = "BADM - Location Group";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";

}
<h1>BADM Online Tool</h1>
<partial name="_BADMMenuPartial" />

<h2 class="text-highlight">@(ViewBag.Title)</h2>
<div class="row">
    <div class="col-md-12">
        <div id="jsGrid"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <partial name="Dialog/_DialogStructurePartial" />
        @*Html.Partial("/Views/Shared/Dialog/_dialogStructure.cshtml")*@
        @*@Html.Partial("/Views/Shared/Dialog/_dialogInputLocationGroup.cshtml")*@
    </div>
</div>

<partial name="_SiteSelectorPartial" model="Model" />

@section scripts{
    <environment names="Development">
        <script src="~/js/jsgrid/jsgrid.js"></script>
        <script src="~/js/Custom/dialog.manager.js"></script>
        <script src="~/js/Custom/locationgroup.manager.js"></script>
        <link href="~/css/DataTables/media/css/jquery.dataTables.min.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="~/js/d3.min.js" asp-file-version="true"></script>
    </environment>
    <script type="text/javascript">
        var locationManager = new locationgroupMgr('#jsGrid', '#dlgStruct', '@Url.Action("Create", "LocationGroup")',
                                                    '@Url.Action("Update","LocationGroup")', '@Url.Action("Delete","LocationGroup")',
                                                    '@Url.Action("getData","LocationGroup")', '@Url.Action("GetdlgInputView","LocationGroup")');
        locationManager.Initialize();
    </script>
}


