﻿@{
    ViewBag.Title = "BADM - Team ";
    ViewBag.GroupId = "12";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>BADM Online Tool</h1>
<partial name="_BADMMenuPartial" />

<h2 class="text-highlight">@(ViewBag.Title)</h2>


<div class="row">
    <div class="col-md-12">
        <div id="jsGrid"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <partial name="Dialog/_DialogStructurePartial" />
    </div>
</div>

@section scripts{
<environment names="Development">
    <script src="~/js/jsgrid/jsgrid.js"></script>
    <script src="~/js/Custom/dialog.manager.js"></script>
    <script src="~/js/Custom/teammember.manager.js"></script>
    <link href="~/css/DataTables/media/css/jquery.dataTables.min.css" rel="stylesheet" />
</environment>
<environment names="Staging,Production">
    <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
    <script src="~/js/d3.min.js" asp-file-version="true"></script>
</environment>
        @*Scripts.Render(

            "~/Scripts/moment.js",
            "~/Scripts/moment-with-locales.js",
            "~/Scripts/bootstrap-datetimepicker.js",

            "~/Scripts/Common/datepicker.js",


            "~/Scripts/Custom/person.jsgrid.rangenumber.js",
            "~/Scripts/jsgrid/jsgrid.js",
            "~/Scripts/Custom/dialog.manager.js",
            "~/Scripts/Custom/teammember.manager.js"
            )*@

        <script type="text/javascript">
        var teamManager = new teamMemberMgr('#jsGrid', '#dlgStruct', '@Url.Action("Create", "Team")', '@Url.Action("Update", "Team")', '@Url.Action("Delete", "Team")', '@Url.Action("getData", "BADM")', '@Url.Action("GetdlgInputTeam","Team")');
        teamManager.Initialize();
        </script>
    }

