﻿@{
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<style type="text/css">
    .vars td, .vars th {
        border: thin solid #c0c0c0;
        padding-top: 6pt;
        padding-bottom: 3px;
        text-indent: 0pt;
        text-align: center;
        width: 80px;
    }

    td:first-child {
        text-align: left;
        padding-left: 11pt;
        width: 300px;
    }
</style>
<h1>Instructions and Guidelines</h1>
<br />
<p>The Instruction documents have been prepared by the ICOS ETC on the basis of the ICOS Protocols in order to give practical and technical information to the ICOS station teams on the setup, management and submission of measurements and instruments related to ICOS variables.</p>
<p>Instructions are documents that are regularly updated and for this reason a versioning system is in place. Each Instruction document has also a DOI attributed in order to increase clearness and allow reference to the exact version applied. All the previous versions are also available for each Instruction and the changes reported.</p>
<p>
    In the table here below the Instruction documents today available are reported with the link to the specific page where they can be downloaded. Note that these versions are exactly the same available in the ICOS Alfresco system.<br />
    <br />
</p>
<table class="vars" style="border-collapse: collapse; width: 80%; margin-left: auto; margin-right: auto;" cellspacing="0">
    <tbody>
        <tr>
            <th>Instruction document</th>
            <th>Current version</th>
        </tr>
        <tr>
            <td>Eddy Covariance CO<sub>2</sub>, Energy and Momentum Turbulent Fluxes</td>
            <td><a href="Instructions?instrID=eddyco2">20171020</a></td>
        </tr>
        <tr>
            <td>Storage Fluxes Measurements (CO<sub>2</sub>, H<sub>2</sub>O, CH<sub>4</sub> and N<sub>2</sub>O)</td>
            <td><a href="Instructions?instrID=storage">20170307</a></td>
        </tr>
        <tr>
            <td>Air Meteorological Measurements (TA, RH, PA, WS, WD)</td>
            <td><a href="Instructions?instrID=airmet">20170130</a></td>
        </tr>
        <tr>
            <td>Precipitation Measurements</td>
            <td><a href="Instructions?instrID=precip">20170629</a></td>
        </tr>
        <tr>
            <td>Radiation Measurements</td>
            <td><a href="Instructions?instrID=radiation">20180321</a></td>
        </tr>
        <tr>
            <td>Soil Meteorological Measurements (TS,SWC, G)</td>
            <td><a href="Instructions?instrID=soilmet">20180322</a></td>
        </tr>
        <tr>
            <td>Water Table Depth Measurement</td>
            <td><a href="Instructions?instrID=wtd" >20180130</a></td>
        </tr>
        <tr>
            <td>Station and Site Description</td>
            <td><a href="Instructions?instrID=sitedesc">20161220</a></td>
        </tr>
        <tr>
            <td>Setting Up the Spatial Sampling Scheme</td>
            <td><a href="Instructions?instrID=spasamp">20170802</a></td>
        </tr>
        <tr>
            <td>Ancillary Vegetation Measurements in Cropland</td>
            <td><a href="Instructions?instrID=anccro">20180126</a></td>
        </tr>
        <tr>
            <td>Ancillary Vegetation Measurements in Forest</td>
            <td><a href="Instructions?instrID=ancfor">20180131</a></td>
        </tr>
        <tr>
            <td>Ancillary Vegetation Measurements in Grassland</td>
            <td><a href="Instructions?instrID=ancgra" >20180129</a></td>
        </tr>
        <tr>
            <td>Ancillary Vegetation Measurements in Mires</td>
            <td><a href="Instructions?instrID=ancmir">20170610</a></td>
        </tr>
        <tr>
            <td>Site Characterization Measurements in Forest</td>
            <td><a href="Instructions?instrID=charfor">20170831</a></td>
        </tr>
        <tr>
            <td>Site Characterization Measurements in Grassland</td>
            <td><a href="Instructions?instrID=chargra">20170517</a></td>
        </tr>
        <tr>
            <td>Site Characterization Measurements in Mires</td>
            <td><a href="Instructions?instrID=charmir">20180209</a></td>
        </tr>
        <tr>
            <td>Foliar Samples Collection and LMA Ratio Determination</td>
            <td><a href="Instructions?instrID=folsamp">20180415</a></td>
        </tr>
        <tr>
            <td>Soil ​Samples ​Collection and Preparation</td>
            <td><a href="Instructions?instrID=soilsamp">20180322</a></td>
        </tr>
        <tr>
            <td>Plant Species Reporting</td>
            <td><a href="Instructions?instrID=species" >20170129</a></td>
        </tr>
        <tr>
            <td>Raw Data Format for CO<sub>2</sub> Eddy Covariance Measurements</td>
            <td><a href="Instructions?instrID=ecform">20180418</a></td>
        </tr>
        <tr>
            <td>Raw Data Format for Meteorological Measurement</td>
            <td><a href="Instructions?instrID=bmform">20180418</a></td>
        </tr>
        <tr>
            <td>Raw Data Format for CO<sub>2</sub> Storage Measurement</td>
            <td><a href="Instructions?instrID=stform">20171013</a></td>
        </tr>
        <tr>
            <td>The ICOS BADM use</td>
            <td><a href="Instructions?instrID=badm">20171013</a></td>
        </tr>
        <tr>
            <td>Station Team Description</td>
            <td><a href="Instructions?instrID=team" >20170626</a></td>
        </tr>
        <tr>
            <td>Field-Map Instrument</td>
            <td><a href="Instructions?instrID=fieldmap">20180130</a></td>
        </tr>
        <tr>
            <td>AccuPAR LP-80 PAR/LAI Ceptometer</td>
            <td><a href="Instructions?instrID=cepacc">20170524</a></td>
        </tr>
        <tr>
            <td>SS1 SunScan Canopy Analysis System</td>
            <td><a href="Instructions?instrID=cepsun">20170825</a></td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>

