﻿@{
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

@model string
<style type="text/css">
    td,  th {
        border: thin solid #c0c0c0;
        padding:15px;
        text-indent: 0pt;
    }
    th {
        text-align:center;
    }
    table{
        width:70%;
        margin-top: 30px;
        margin-left:auto;
        margin-right:auto;
    }
</style>

<div id="instr_eddyco2" class="instruction">
    <h1>Instruction on co<sub>2</sub> turbulent fluxes</h1>
    <p>Download the last version and the previous versions of the Instruction on Eddy Covariance CO<sub>2</sub>, Energy and Momentum Turbulent Fluxes. This Instruction is based on the following ICOS protocols:</p>
    <ul>
        <li>Schmid et al., 2013. &ldquo;Protocol on Sonic Anemometer use at ICOS-Ecosystem Sites&rdquo;</li>
        <li>Aubinet et al., 2014. &ldquo;High frequency concentration&rdquo;</li>
        <li>Rebmann et al., 2016. &ldquo;Flux-Station Site Setup including complementary measurements&rdquo;</li>
    </ul>
    <p>and published in: under review</p>
    <p>
        The Instruction document can be cited as:
        <br />
        <em>
            Sabbatini, S., & Papale, D. (2017). ICOS Ecosystem Instructions for Turbulent Flux Measurements of CO2, Energy and Momentum (Version 20171020). ICOS Ecosystem Thematic Centre. https://doi.org/10.18160/qwv4-639g

        </em>
    </p>
    <h3>Instruction document history and download</h3>
    <table>
        <tbody>
            <tr>
                <th>Version</th>
                <th>Changes respect to the pr?evious</th>
            </tr>
            <tr>
                <td>
                    <a target="_blank" href="https://docs.icos-cp.eu/share/s/jb64KZz2T-KqWIPcj8KMZA">
                        20171020<br />
                        download...
                    </a>
                </td>
                <td>Changed maximum uncertainty in the calibration gas to 4 ppm; added information about the wind sector to be excluded; clarified the link with the BADM groups for the different info. Clarified and changed the reason and limits for pressure drop in the IRGA cell.</td>
            </tr>
            <tr>
                <td>20161116</td>
                <td>First version</td>
            </tr>
        </tbody>
    </table>
    <div>
        <p><strong>doi: 10.18160/qwv4-639g</strong></p>
    </div>

    <br />
    <a href="@Url.Action("InstructionsList","Home")">Back to list...</a>
</div>

<div id="instr_storage" class="instruction">
    <h1>Instruction on eddy covariance storage fluxes</h1>
    <p>Download the last version and the previous versions of the Instruction on Eddy Covariance Storage Fluxes for CO<sub>2</sub>, H<sub>2</sub>O, N<sub>2</sub>O and CH<sub>4</sub>. This Instruction is based on the following ICOS protocols:</p>
    <ul>
        <li>Montagnani et al. &ldquo;CO<sub>2</sub>, H<sub>2</sub>O, CH<sub>4</sub> and N<sub>2</sub>O storage flux terms in the air layer&rdquo;</li>
        <li>Nemitz et al., &ldquo;Protocol for eddy-covariance measurements of CH<sub>4</sub> and N<sub>2</sub>O&rdquo;</li>
        <li>Rebmann et al., 2016. &ldquo;Flux-Station Site Setup including complementary measurements&rdquo;</li>
    </ul>
    <p>and published in: under review</p>
    <p>
        The Instruction document can be cited as:
        <br />
        <em>Nicolini, G., &amp; Papale, D. (2017). ICOS Ecosystem Instructions for Storage Fluxes Measurements (CO2, H2O, CH4 and N2O). ICOS Ecosystem Thematic Centre. https://doi.org/10.18160/71na-qbtc</em>
    </p>
    <h3>Instruction document history and download</h3>

    <table>
        <tbody>
            <tr>
                <th>Version</th>
                <th>Changes respect to the pr?evious</th>
            </tr>
            <tr>
                <td>
                    <a target="_blank" href="https://docs.icos-cp.eu/share/s/kRslJxaTRIOwNQIthqB9Iw">
                        20170307<br />
                        download...
                    </a>
                </td>
                <td>Corrected units in table 1</td>
            </tr>
            <tr>
                <td>20170228</td>
                <td>First version</td>
            </tr>
        </tbody>
    </table>
    <div>
        <p><strong>doi: 10.18160/71na-qbtc</strong></p>
    </div>
    <br />
    <a href="@Url.Action("InstructionsList","Home")">Back to list...</a>
</div>

<div id="instr_airmet" class="instruction">
    <h1>Instruction on air meteorological measurements</h1>
    <p>Download the last version and the previous versions of the Instruction on Air Meteorological Measurements including TA, RH, PA, WS and WD. This Instruction is based on the following ICOS protocols:</p>
    <ul>
        <li>Rebmann et al., 2016. &ldquo;Flux-Station Site Setup including complementary measurements&rdquo;</li>
    </ul>
    <p>and published in: under review</p>
    <p>
        The Instruction document can be cited as:
        <br />
        <em>
            Sabbatini, S., Nicolini, G., Op de Beeck, M., &amp; Papale, D. (2017). ICOS Ecosystem Instructions for Air Meteorological Measurements (TA, RH, PA, WS, WD) (Version 20170130). ICOS Ecosystem Thematic Centre. https://doi.org/10.18160/nheg-4kww
        </em>
    </p>
    <h3>Instruction document history and download</h3>

    <table>
        <tbody>
            <tr>
                <th>Version</th>
                <th>Changes respect to the previous</th>
            </tr>
            <tr>
                <td>
                    <a target="_blank" href="https://docs.icos-cp.eu/share/s/KHQMO6ZtQp2hHbVYpAHqSQ">
                        20170130<br />
                        download...
                    </a>
                </td>
                <td>First version</td>
            </tr>
        </tbody>
    </table>
    <div>
        <p><strong>doi: 10.18160/nheg-4kww</strong></p>
    </div>
    <br />
    <a href="@Url.Action("InstructionsList","Home")">Back to list...</a>
</div>

<div id="instr_precip" class="instruction">
    <h1>Instruction on precipitation measurements</h1>
    <p>Download the last version and the previous versions of the Instruction on Precipitation Measurements, including snow depth. This Instruction is based on the following ICOS protocols:</p>
    <ul>
        <li>Dengel et al. &ldquo;ICOS protocol for precipitation (rain and snow)&rdquo;</li>
    </ul>
    <p>and published in: under review</p>
    <p>
        The Instruction document can be cited as:
        <br />
        <em>Nicolini, G., &amp; Papale, D. (2017). ICOS Ecosystem Instructions for Precipitation Measurements (Version 20170629). ICOS Ecosystem Thematic Centre. https://doi.org/10.18160/krnz-1g9e</em>
    </p>
    <h3>Instruction document history and download</h3>
    <table>
        <tbody>
            <tr>
                <th>Version</th>
                <th>Changes respect to the previous</th>
            </tr>
            <tr>
                <td>
                    <a target="_blank" href="https://docs.icos-cp.eu/share/s/D-FWxeYjRC22LEBk5Xz0BQ">
                        20170629<br />
                        download...
                    </a>
                </td>
                <td>First version</td>
            </tr>
        </tbody>
    </table>
    <div>
        <p><strong>doi: 10.18160/krnz-1g9e</strong></p>
    </div>
    <br />
    <a href="@Url.Action("InstructionsList","Home")">Back to list...</a>
</div>

<div id="instr_radiation" class="instruction">
    <h1>Instruction on radiation measurements</h1>
    <p>Download the last version and the previous versions of the Instruction on Radiation measurements that includes short-wave, long-wave and PAR, incoming, outgoing and diffuse. This Instruction is based on the following ICOS protocols:</p>
    <ul>
        <li>Carrara et al. 2017. &ldquo;Radiation measurements&rdquo;</li>
        <li>Rebmann et al., 2016. &ldquo;Flux-Station Site Setup including complementary measurements&rdquo;</li>
    </ul>
    <p>and published in: under review</p>
    <p>
        The Instruction document can be cited as:
        <br />
        <em>Nicolini, G., Sabbatini, S., &amp; Papale, D. (2017). ICOS Ecosystem Instructions for Radiation Measurements (Version 20180321). ICOS Ecosystem Thematic Centre. https://doi.org/10.18160/zwgb-wrrx</em>
    </p>
    <h3>Instruction document history and download</h3>
    <table>
        <tbody>
            <tr>
                <th>Version</th>
                <th>Changes respect to the previous</th>
            </tr>
            <tr>
                <td>
                    <a target="_blank" href="https://docs.icos-cp.eu/share/s/IIForKC_SbqWuzmxEK1O_A">
                        20180321<br />
                        download...
                    </a>
                </td>
                <td>Clarified that LW_IN and LW_OUT in physical units must be already corrected for the body temperature. Changed the file name for photos showing bird protection.</td>
            </tr>
            <tr>
                <td>20161201</td>
                <td>First version</td>
            </tr>
        </tbody>
    </table>
    <div>
        <p><strong>doi: 10.18160/zwgb-wrrx</strong></p>
    </div>
    <br />
    <a href="@Url.Action("InstructionsList","Home")">Back to list...</a>
</div>

<div id="instr_soilmet" class="instruction">
    <h1>Instruction on soil meteorological measurements</h1>
    <p>Download the last version and the previous versions of the Instruction on Soil Meteorological Measurements, including soil temperature, soil water content and soil heat flux density. This Instruction is based on the following ICOS protocols:</p>
    <ul>
        <li>Op de Beeck et al., 2015. &ldquo;Protocol on Soil-Meteorological Variables Final Version v3&rdquo;</li>
    </ul>
    <p>and published in: under review</p>
    <p>
        The Instruction document can be cited as:
        <br />
        <em>Op de Beeck, M., Sabbatini, S., &amp; Papale, D. (2017). ICOS Ecosystem Instructions for Soil Meteorological Measurements (TS, SWC, G) (Version ?20180123). ICOS Ecosystem Thematic Centre. https://doi.org/10.18160/1a28-gex6</em>
    </p>
    <h3>Instruction document history and download</h3>
    <table>
        <tbody>
            <tr>
                <th>Version</th>
                <th>Changes respect to the previous</th>
            </tr>
            <tr>
                <td>
                    <a target="_blank" href="https://docs.icos-cp.eu/share/s/YGcMllLKQDK2rQl8codFxg">
                        20180123<br />
                        download...
                    </a>
                </td>
                <td>Added that crop growing and management has to be mimicked manually in the additional soil meteo plot at frequently tilled stations. Added a default target heat flux to be generated during self-calibration of soil heat flux plates. Added details to the Submission section.</td>
            </tr>
            <tr>
                <td>20170825</td>
                <td>Added that for TS measurements also Integrated Circuit (IC) sensors can be considered.</td>
            </tr>
            <tr>
                <td>20170704</td>
                <td>Added a specific case of stations where profile probes for TS and/or SWC measurements are used. Harmoni??sation of the section Submission with Instructions for Meteorological Data Format and BADM System. Added a Calculations section.</td>
            </tr>
            <tr>
                <td>20161122</td>
                <td>First version</td>
            </tr>
        </tbody>
    </table>
    <div>
        <p><strong>doi: 10.18160/1a28-gex6</strong></p>
    </div>
    <br />
    <a href="@Url.Action("InstructionsList","Home")">Back to list...</a>
</div>

<div id="instr_wtd" class="instruction">
    <h1>Instruction on water table depth measurements</h1>
    <p>Download the last version and the previous versions of the Instruction on Water Table Depth Measurements. This Instruction is based on the following ICOS protocols:</p>
    <ul>
        <li>Op de Beeck et al., 2015. &ldquo;Protocol on Soil-Meteorological Variables Final Version v3&rdquo;</li>
    </ul>
    <p>and published in: under review</p>
    <p>
        The Instruction document can be cited as:
        <br />
        <em>Op de Beeck, M., Sabbatini, S., &amp; Papale, D. (2017). ICOS Ecosystem Instructions for Water Table Depth Measurements (Version 20180130). ICOS Ecosystem Thematic Centre. https://doi.org/10.18160/k9vq-k8d0</em>
    </p>
    <h3>Instruction document history and download</h3>
    <table>
        <tbody>
            <tr>
                <th>Version</th>
                <th>Changes respect to the previous</th>
            </tr>
            <tr>
                <td>
                    <a target="_blank" href="https://docs.icos-cp.eu/share/s/bf-0BWKJSXGeYIulcLlnyw">
                        20180130<br />
                        download...
                    </a>
                </td>
                <td>Change the sign of the Eq. 2 (the WCP term) so that WTD is negative (in agreement with the convention for sensor).</td>
            </tr>
            <tr>
                <td>20180123</td>
                <td>Specified the BADM template and the continuous variables to be submitted</td>
            </tr>
            <tr>
                <td>20170704</td>
                <td>Harmonisation of the section Submission with Instructions for Meteorological Data Format and BADM System. Added a Calculations section.</td>
            </tr>
            <tr>
                <td>20161206</td>
                <td>First version</td>
            </tr>
        </tbody>
    </table>
    <div>
        <p><strong>doi: 10.18160/k9vq-k8d0</strong></p>
    </div>
    <br />
    <a href="@Url.Action("InstructionsList","Home")">Back to list...</a>
</div>

<div id="instr_folsamp" class="instruction">
    <h1>Instruction on foliar samples collection and LMA ratio</h1>
    <p>Download the last version and the previous versions of the Instruction on Foliar Samples collection, including information on Leaf Mass Area ratio calculation. This Instruction is based on the following ICOS protocols:</p>
    <ul>
        <li>Loustau et al: &ldquo;Protocol for foliar analysis&rdquo;</li>
        <li>ETC  &ldquo;Instructions_ECO_Sampling_Design&rdquo;</li>
        <li>ETC &ldquo;Instructions_ECO_station_description&rdquo;</li>
        <li>Op de Beeck et al. &ldquo;Ancillary vegetation measurements in mires&rdquo;</li>
        <li>Op de Beeck et al. &ldquo;Ancillary vegetation measurements in grasslands&rdquo;</li>
        <li>Gielen et al. &ldquo;Ancillary vegetation measurements in forest&rdquo;</li>
        <li>Gielen et al. &ldquo;Ancillary vegetation measurements in croplands&rdquo;</li>
    </ul>
    <p>and published in: under review</p>
    <p>
        The Instruction document can be cited as:
        <br />
        <em>Loustau, D., Aluome, C., &amp; Papale, D. (2017). ICOS Ecosystem Instructions for Foliar Samples Collection and LMA Ratio Determination (Version 20180415). ICOS Ecosystem Thematic Centre. https://doi.org/10.18160/k7qg-hg2a</em>
    </p>
    <h3>Instruction document history and download</h3>
    <table>
        <tbody>
            <tr>
                <th>Version</th>
                <th>Changes respect to the previous</th>
            </tr>
            <tr>
                <td>
                    <a target="_blank" href="https://docs.icos-cp.eu/share/s/2uAM3-WjTMiYKVRQMtRxCA">
                        20180415<br />
                        download...
                    </a>
                </td>
                <td>Changed the address to ship the samples. Clarified that metadata and correct labelling of samples are mandatory for the analysis.</td>
            </tr>
            <tr>
                <td>20170414</td>
                <td>First version</td>
            </tr>
        </tbody>
    </table>
    <div>
        <p><strong>doi: 10.18160/k7qg-hg2a</strong></p>
    </div>
    <br />
    <a href="@Url.Action("InstructionsList","Home")">Back to list...</a>
</div>

<div id="instr_soilsamp" class="instruction">
    <h1>Instruction on soil samples collection and preparation</h1>
    <p>Download the last version and the previous versions of the Instruction on Soil Samples collection and their preparation. This Instruction is based on the following ICOS protocols and documents:</p>
    <ul>
        <li>Saby et al., 2016 &ldquo;Soil carbon stocks&rdquo;</li>
        <li>Jolivet et al. 2016 &ldquo;Volumetric sample for the determination of bulk density&rdquo;. In &ldquo;Manual for the French soil monitoring network&rdquo;, version 1.1. Available upon request from INRA US 1106 InfoSol</li>
        <li>ETC &ldquo;Instructions_ECO_Spatial_sampling&rdquo;</li>
        <li>International Standard ISO-11074-2:1998 (Soil quality &ndash; Vocabulary &ndash; Part 2: terms and definitions relating to sampling)</li>
        <li>Kruger et al,. 2016 &ldquo;Calculating carbon changes in peat soils drained for forestry with four different profile-based methods&rdquo;, For Ecol Manag, 381, 29-36, 10.1016/j.foreco.2016.09.006</li>
        <li>WRB IUSS Working Group WRB, 2015 &ldquo;World Reference Base for Soil Resources 2014, update 2015, International soil classification system for naming soils and creating legends for soil maps&rdquo;. World Soil Resources Reports No. 106. FAO</li>
    </ul>
    <p>and published in: under review</p>
    <p>
        The Instruction document can be cited as:
        <br />
        <em>Loustau, D., Jolivet, C., Lafont, S., Klumpp, K., Papale, D., &amp; Arrouays, D. (2017). ICOS Ecosystem Instructions for Soil Samples Collection and Preparation (Version 20180322). ICOS Ecosystem Thematic Centre. https://doi.org/10.18160/k3yc-td6h</em>
    </p>
    <h3>Instruction document history and download</h3>
    <table>
        <tbody>
            <tr>
                <th>Version</th>
                <th>Changes respect to the previous</th>
            </tr>
            <tr>
                <td>
                    <a target="_blank" href="https://docs.icos-cp.eu/share/s/qTMgctwGSGGfKfee7Et_Gw">
                        20180322<br />
                        download...
                    </a>
                </td>
                <td>Corrected the units of SUMWA<sub>l,s</sub> and WA30<sub>i,l,s</sub> (kg m<sup>-2</sup>), suggested to exclude Post Office as carrier for samples transportation. Clarified that metadata and correct labelling of samples are mandatory for the analysis. Other minor textual editing.</td>
            </tr>
            <tr>
                <td>20170530</td>
                <td>Explained labeling of soil bags, correction of wrong reference to annexes.</td>
            </tr>
            <tr>
                <td>20170421</td>
                <td>First version</td>
            </tr>
        </tbody>
    </table>
    <div>
        <p><strong>doi: 10.18160/k3yc-td6h</strong></p>
    </div>
    <br />
    <a href="@Url.Action("InstructionsList","Home")">Back to list...</a>
</div>

<div id="instr_anccro" class="instruction">
    <h1>Instruction on ancillary vegetation measurements in croplands</h1>
    <p>Download the last version and the previous versions of the Instruction on Ancillary Vegetation Measurements in Croplands, including Green Area Index, Above Ground Biomass and Litter Biomass. This Instruction is based on the following ICOS protocols:</p>
    <ul>
        <li>Gielen et al. &ldquo;Ancillary Vegetation Measurements in Croplands&rdquo;</li>
    </ul>
    <p>and published in: under review</p>
    <p>
        The Instruction document can be cited as:
        <br />
        <em>Gielen, B., Op de Beeck, M., &amp; Papale, D. (2017). ICOS Ecosystem Instructions for Ancillary Vegetation Measurements in Croplands (Version 20180126). ICOS Ecosystem Thematic Centre. https://doi.org/10.18160/e568-rdtd</em>
    </p>
    <h3>Instruction document history and download</h3>
    <table>
        <tbody>
            <tr>
                <th>Version</th>
                <th>Changes respect to the previous</th>
            </tr>
            <tr>
                <td>
                    <a target="_blank" href="https://docs.icos-cp.eu/share/s/fLokDn7FQZSCkDlEtjurfQ">
                        20180126<br />
                        download...
                    </a>
                </td>
                <td>Clarified that AGB measurement must be done also in the CP. Frame for the harvest residual reduced to 0.5x0.5 m. Added information about the Submission of BADM variables.</td>
            </tr>
            <tr>
                <td>20170911</td>
                <td>Clarified that true N must be considered, AGB expanded to all the SP-I locations, corrected inconsistencies.</td>
            </tr>
            <tr>
                <td>20170830</td>
                <td>First version</td>
            </tr>
        </tbody>
    </table>
    <div>
        <p><strong>doi: 10.18160/e568-rdtd</strong></p>
    </div>
    <br />
    <a href="@Url.Action("InstructionsList","Home")">Back to list...</a>
</div>

<div id="instr_ancfor" class="instruction">
    <h1>Instruction on ancillary vegetation measurements in forest</h1>
    <p>Download the last version and the previous versions of the Instruction on Ancillary Vegetation Measurements in Forest, including Green Area Index, DHP, Above Ground Biomass and Litter Biomass. This Instruction is based on the following ICOS protocols:</p>
    <ul>
        <li>Gielen et al. &ldquo;Ancillary Vegetation Measurements in Forest&rdquo;</li>
    </ul>
    <p>and published in: under review</p>
    <p>
        The Instruction document can be cited as:
        <br />
        <em>Gielen, B., Op de Beeck, M., &amp; Papale, D. (2017). ICOS Ecosystem Instructions for Ancillary Vegetation Measurements in Forest (Version 20180131). ICOS Ecosystem Thematic Centre. https://doi.org/10.18160/4ajs-z4r9</em>
    </p>
    <h3>Instruction document history and download</h3>
    <table>
        <tbody>
            <tr>
                <th>Version</th>
                <th>Changes respect to the previous</th>
            </tr>
            <tr>
                <td>
                    <a target="_blank" href="https://docs.icos-cp.eu/share/s/9Qv-XzkNSnKs1IxjUFqzGQ">
                        20180131<br />
                        download...
                    </a>
                </td>
                <td>Added that the real location of DHP, ceptometer and litter trap must be measured and reported (added Appendix C). Litter section reorganized and measurements simplified. Added information about the Submission of BADM variables.</td>
            </tr>
            <tr>
                <td>20170911</td>
                <td>Clarified the reporting of species composition for AGB of the understorey, clarification of true North instead of Magnetic North, clarification of Health status.</td>
            </tr>
            <tr>
                <td>20170902</td>
                <td>Clarified the calculation of LMA ratio in non-woody litter biomass and changed to one litter trap per CP (instead of subsamples).</td>
            </tr>
            <tr>
                <td>20170831</td>
                <td>First version</td>
            </tr>
        </tbody>
    </table>
    <div>
        <p><strong>doi: 10.18160/4ajs-z4r9</strong></p>
    </div>
    <br />
    <a href="@Url.Action("InstructionsList","Home")">Back to list...</a>
</div>

<div id="instr_ancgra" class="instruction">
    <h1>Instruction on ancillary vegetation measurements in grasslands</h1>
    <p>Download the last version and the previous versions of the Instruction on Ancillary Vegetation Measurements in Grasslands, including Green Area Index, Above Ground Biomass, Litter Biomass and Canopy Height. This Instruction is based on the following ICOS protocols:</p>
    <ul>
        <li>Op de Beeck et al. &ldquo;Ancillary Vegetation Measurements in Grasslands&rdquo;</li>
    </ul>
    <p>and published in: under review</p>
    <p>
        The Instruction document can be cited as:
        <br />
        <em>
            Op de Beeck, M., Sabbatini, S., &amp; Papale, D. (2017). ICOS Ecosystem Instructions for Ancillary Vegetation Measurements in Grasslands (Version 20180129). ICOS Ecosystem Thematic Centre. https://doi.org/10.18160/daaa-x1ng
        </em>
    </p>
    <h3>Instruction document history and download</h3>
    <table>
        <tbody>
            <tr>
                <th>Version</th>
                <th>Changes respect to the previous</th>
            </tr>
            <tr>
                <td>
                    <a target="_blank" href="https://docs.icos-cp.eu/share/s/we1QCy2aSGKwfq7vI0hEnQ">
                        20180129<br />
                        download...
                    </a>
                </td>
                <td>Changed the method for the selection of the SP-II points to take measurements (now randomly extracted by the PI from all the SP-II including -R). Added info on the BADM data submission.</td>
            </tr>
            <tr>
                <td>20170131</td>
                <td>First version</td>
            </tr>
        </tbody>
    </table>
    <div>
        <p><strong>doi: 10.18160/daaa-x1ng</strong></p>
    </div>
    <br />
    <a href="@Url.Action("InstructionsList","Home")">Back to list...</a>
</div>

<div id="instr_ancmir" class="instruction">
    <h1>Instruction on ancillary vegetation measurements in mires</h1>
    <p>Download the last version and the previous versions of the Instruction on Ancillary Vegetation Measurements in Mires, including Green Area Index and Above Ground Biomass. This Instruction is based on the following ICOS protocols:</p>
    <ul>
        <li>Op de Beeck et al. &ldquo;Ancillary Vegetation Measurements in Mires&rdquo;</li>
    </ul>
    <p>and published in: under review</p>
    <p>
        The Instruction document can be cited as:
        <br />
        <em>
            Op de Beeck, M., Sabbatini, S., &amp; Papale, D. (2017). ICOS Ecosystem Instructions for Ancillary Vegetation Measurements in Mires (Version 20170610). ICOS Ecosystem Thematic Centre. https://doi.org/10.18160/6mkw-3s2r
        </em>
    </p>
    <h3>Instruction document history and download</h3>
    <table>
        <tbody>
            <tr>
                <th>Version</th>
                <th>Changes respect to the previous</th>
            </tr>
            <tr>
                <td>
                    <a target="_blank" href="https://docs.icos-cp.eu/share/s/kxRFQ-l8R3GBGD1YFIDV2Q">
                        20170610<br />
                        download...
                    </a>
                </td>
                <td>Changed drying temperature for vegetation samples from 60&deg;C to 65&deg;C (harmonization with other Instructions)</td>
            </tr>
            <tr>
                <td>20170131</td>
                <td>First version</td>
            </tr>
        </tbody>
    </table>
    <div>
        <p><strong>doi: 10.18160/6mkw-3s2r</strong></p>
    </div>
    <br />
    <a href="@Url.Action("InstructionsList","Home")">Back to list...</a>
</div>

<div id="instr_charfor" class="instruction">
    <h1>Instruction on site characterization measurements in forest</h1>
    <p>Download the last version and the previous versions of the Instruction on Site Characterization Measurements in Forest, including Vegetation species, Green Area Index and Above Ground Biomass. This Instruction is based on the following ICOS protocols:</p>
    <ul>
        <li>Gielen et al. &ldquo;Ancillary Vegetation Measurements in Forest&rdquo;</li>
    </ul>
    <p>and published in: under review</p>
    <p>
        The Instruction document can be cited as:
        <br />
        <em>Gielen, B., Op de Beeck, M., &amp; Papale, D. (2017). ICOS Ecosystem Instructions for Site Characterization Measurements in Forest (Version 20170831). ICOS Ecosystem Thematic Centre. https://doi.org/10.18160/ymvv-af8m</em>
    </p>
    <h3>Instruction document history and download</h3>
    <table>
        <tbody>
            <tr>
                <th>Version</th>
                <th>Changes respect to the previous</th>
            </tr>
            <tr>
                <td>
                    <a target="_blank" href="https://docs.icos-cp.eu/share/s/1_jTDdyjR8u9-nlMxPJHFw">
                        20170831<br />
                        download...
                    </a>
                </td>
                <td>First version</td>
            </tr>
        </tbody>
    </table>
    <div>
        <p><strong>doi: 10.18160/ymvv-af8m</strong></p>
    </div>
    <br />
    <a href="@Url.Action("InstructionsList","Home")">Back to list...</a>
</div>

<div id="instr_chargra" class="instruction">
    <h1>Instruction on site characterization measurements in grasslands</h1>
    <p>Download the last version and the previous versions of the Instruction on Site Characterization Measurements in Grasslands, including Vegetation species and Above Ground Biomass. This Instruction is based on the following ICOS protocols:</p>
    <ul>
        <li>Op de Beeck et al. &ldquo;Ancillary Vegetation Measurements in Grasslands&rdquo;</li>
    </ul>
    <p>and published in: under review</p>
    <p>
        The Instruction document can be cited as:
        <br />
        <em>Op de Beeck, M., &amp; Papale, D. (2017). ICOS Ecosystem Instructions for Site Characterization Measurements in Grasslands (Version 20170517). ICOS Ecosystem Thematic Centre. https://doi.org/10.18160/xqfz-038k</em>
    </p>
    <h3>Instruction document history and download</h3>
    <table>
        <tbody>
            <tr>
                <th>Version</th>
                <th>Changes respect to the previous</th>
            </tr>
            <tr>
                <td>
                    <a target="_blank" href="https://docs.icos-cp.eu/share/s/05s6Htd5ROyeu0DFWBnKuA">
                        20170517<br />
                        download...
                    </a>
                </td>
                <td>First version</td>
            </tr>
        </tbody>
    </table>
    <div>
        <p><strong>doi: 10.18160/xqfz-038k</strong></p>
    </div>
    <br />
    <a href="@Url.Action("InstructionsList","Home")">Back to list...</a>
</div>

<div id="instr_charmir" class="instruction">
    <h1>Instruction on site characterization measurements in mires</h1>
    <p>Download the last version and the previous versions of the Instruction on Site Characterization Measurements in Mires, focused on Vegetation species. This Instruction is based on the following ICOS protocols:</p>
    <ul>
        <li>Op de Beeck et al. &ldquo;Ancillary Vegetation Measurements in Mires&rdquo;</li>
    </ul>
    <p>and published in: under review</p>
    <p>
        The Instruction document can be cited as:
        <br />
        <em>
            Op de Beeck, M., Gielen, B., &amp; Papale, D. (2017). ICOS Ecosystem Instructions for Site Characterization Measurements in Mires (Version 20180209). ICOS Ecosystem Thematic Centre. https://doi.org/10.18160/8bkh-gx2x
        </em>
    </p>
    <h3>Instruction document history and download</h3>
    <table>
        <tbody>
            <tr>
                <th>Version</th>
                <th>Changes respect to the previous</th>
            </tr>
            <tr>
                <td>
                    <a target="_blank" href="https://docs.icos-cp.eu/share/s/TGjskVXWRdGMu-Xyzd2y4A">
                        20180209<br />
                        download...
                    </a>
                </td>
                <td>Clarified that the site characterization also includes measurements at the CPs. Added a figure on distribution of sampling points in inaccessible mires. Clarified the procedure to classify the mire vegetation into plant community types. Added information on representativeness checks for CPs. Relaxed the need of aerial imagery of the target area.</td>
            </tr>
            <tr>
                <td>20170517</td>
                <td>First version</td>
            </tr>
        </tbody>
    </table>
    <div>
        <p><strong>doi: 10.18160/8bkh-gx2x</strong></p>
    </div>
    <br />
    <a href="@Url.Action("InstructionsList","Home")">Back to list...</a>
</div>

<div id="instr_sitedesc" class="instruction">
    <h1>Instruction on station description</h1>
    <p>Download the last version and the previous versions of the Instruction on Station Description, on how to describe the station, the site and the history of the monitored ecosystem. This Instruction is based on the following ICOS protocols:</p>
    <ul>
        <li>Saunders et al. &ldquo; Site characterisation, management, disturbance and lateral fluxes (CMDL)&rdquo;</li>
    </ul>
    <p>and published in: under review</p>
    <p>
        The Instruction document can be cited as:
        <br />
        <em>Papale, D., Nicolini, G., &amp; Canfora, E. (2016). ICOS Ecosystem Instructions for Station and Site Description (Version 20161220). ICOS Ecosystem Thematic Centre. https://doi.org/10.18160/kjj4-ar1h</em>
    </p>
    <h3>Instruction document history and download</h3>
    <table>
        <tbody>
            <tr>
                <th>Version</th>
                <th>Changes respect to the previous</th>
            </tr>
            <tr>
                <td>
                    <a target="_blank" href="https://docs.icos-cp.eu/share/s/3su0YR3ST9Wz_6Vqm2ikSQ">
                        20161220<br />
                        download...
                    </a>
                </td>
                <td>First version</td>
            </tr>
        </tbody>
    </table>
    <div>
        <p><strong>doi: 10.18160/kjj4-ar1h</strong></p>
    </div>
    <br />
    <a href="@Url.Action("InstructionsList","Home")">Back to list...</a>
</div>

<div id="instr_spasamp" class="instruction">
    <h1>Instruction on setting up the spatial sampling scheme</h1>
    <p>Download the last version and the previous versions of the Instruction on Setting Up the Spatial Sampling Scheme, focused on how to define the sampling points and areas in the ICOS sites. This Instruction is based on the following ICOS protocols:</p>
    <ul>
        <li>Sanders et al: &ldquo;CMDL &ndash; Characterization, Management, Disturbances, Lateral Fluxes</li>
        <li>Saby et al. &ldquo;Soil carbon stocks&rdquo;</li>
        <li>Op de Beeck et al. &ldquo;Protocol soil-meteorological variables&rdquo;</li>
        <li>Op de Beeck et al. &ldquo;Ancillary vegetation measurements in mires&rdquo;</li>
        <li>Op de Beeck et al. &ldquo;Ancillary vegetation measurements in grasslands&rdquo;</li>
        <li>Gielen et al. &ldquo;Ancillary vegetation measurements in forest&rdquo;</li>
        <li>Gielen et al. &ldquo;Ancillary vegetation measurements in croplands&rdquo;</li>
        <li>Rebmann et al. &ldquo;Flux-Station Site Setup including complementary measurements&rdquo;</li>
    </ul>
    <p>
        The Instruction document can be cited as:
        <br />
        <em>
            Papale, D., &amp; Nicolini, G. (2016). ICOS Ecosystem Instructions for Setting Up the Spatial Sampling Scheme (Version 20170802). ICOS Ecosystem Thematic Centre. https://doi.org/10.18160/c5q7-z877
        </em>
    </p>
    <h3>Instruction document history and download</h3>
    <table>
        <tbody>
            <tr>
                <th>Version</th>
                <th>Changes respect to the previous</th>
            </tr>
            <tr>
                <td>
                    <a target="_blank" href="https://docs.icos-cp.eu/share/s/873mEqLqQHSUEi96DUsBdQ">
                        20170802<br />
                        download...
                    </a>
                </td>
                <td>Clarified how the SP-II reserve points should be selected and used in case of inaccessibility of the main points.</td>
            </tr>
            <tr>
                <td>20170414</td>
                <td>Table 2 values changed to follow Ancillary Instructions; clarification on how to communicate that CP should be excluded from sampling; clarification that no data can be sent by email; clarification that KML format is preferred; other minor changes.</td>
            </tr>
            <tr>
                <td>20170306</td>
                <td>Clarified in the submission section that SP-II-R should be reported only if used.</td>
            </tr>
            <tr>
                <td>20161114</td>
                <td>First version</td>
            </tr>
        </tbody>
    </table>
    <div>
        <p><strong>doi: 10.18160/c5q7-z877</strong></p>
    </div>
    <br />
    <a href="@Url.Action("InstructionsList","Home")">Back to list...</a>
</div>

<div id="instr_fieldmap" class="instruction">
    <h1>Instruction on Field-map instrument use</h1>
    <p>Download the last version and the previous versions of the Instruction on Field-Map Instrument Use in the context of ICOS, focused on how to use this tool for mapping and inventorying trees and instrumentation at forest stations. This Instruction is based on the instrument manual and the following ICOS protocols:</p>
    <ul>
        <li>Op de Beeck et al. &ldquo;Protocol soil-meteorological variables&rdquo;</li>
        <li>Gielen et al. &ldquo;Ancillary vegetation measurements in forest&rdquo;</li>
        <li>Rebmann et al. &ldquo;Flux-Station Site Setup including complementary measurements&rdquo;</li>
    </ul>
    <p>
        The Instruction document can be cited as:
        <br />
        <em>Op de Beeck, M., &amp; Papale, D. (2017). ICOS Ecosystem Instructions for Field-Map Instrument Use (Version 20180130). ICOS Ecosystem Thematic Centre. https://doi.org/10.18160/ycsg-q3zq</em>
    </p>
    <h3>Instruction document history and download</h3>
    <table>
        <tbody>
            <tr>
                <th>Version</th>
                <th>Changes respect to the previous</th>
            </tr>
            <tr>
                <td>
                    <a target="_blank" href="https://docs.icos-cp.eu/share/s/iePRiZCtSDOSGEk6tdTLIw">
                        20180130<br />
                        download...
                    </a>
                </td>
                <td>Clarified that non-tree data must be submitted using BADM (added variables to submit). Clarified that soil sensors must be mapped separately in each plot and added a lookup-list.</td>
            </tr>
            <tr>
                <td>20171205</td>
                <td>Changed the tree attribute Dendrometer from a yes/no list to a text field to enable adding the variable code DBH_H_V_R of installed automatic dendrometers.</td>
            </tr>
            <tr>
                <td>20170906</td>
                <td>Added the tree attribute Stump_ID to report stems that share one rooting system and added field for a free text comment on measured trees.</td>
            </tr>
            <tr>
                <td>20170830</td>
                <td>Added an Appendix that explains how to use the FieldMap to collect the tree information in SP-I-order plots that is requested as part of the site characterization.</td>
            </tr>
            <tr>
                <td>20170518</td>
                <td>Clarification that litter traps and below canopy PAR sensors only have to be mapped if installed; specification of the IDs of mapped ICOS instrumentation to be inserted in the FieldMap file (litter traps, soil meteo plots, groundwater wells, and GAI sampling points); other minor editorial changes.</td>
            </tr>
            <tr>
                <td>20170131</td>
                <td>First version</td>
            </tr>
        </tbody>
    </table>
    <div>
        <p><strong>doi: 10.18160/ycsg-q3zq</strong></p>
    </div>
    <br />
    <a href="@Url.Action("InstructionsList","Home")">Back to list...</a>
</div>

<div id="instr_cepacc" class="instruction">
    <h1>Instruction on accupar lp-80 instrument use</h1>
    <p>Download the last version and the previous versions of the Instruction on AccuPAR LP-80 Ceptometer Instrument Use in the context of ICOS, focused on how to use this tool for Green Area Index measurements. This Instruction is based on the instrument manual and the following ICOS protocols:</p>
    <ul>
        <li>Gielen et al. &ldquo;Instructions for Ancillary Vegetation Measurements in Croplands&rdquo;</li>
        <li>Op de Beeck et al. &ldquo;Instructions for Ancillary Vegetation Measurements in Grasslands&rdquo;</li>
    </ul>
    <p>
        The Instruction document can be cited as:
        <br />
        <em>Op de Beeck, M., Sabbatini, S., &amp; Papale, D. (2017). ICOS Ecosystem Instructions for AccuPAR LP-80 Ceptometer Instrument Use (Version 20170524). ICOS Ecosystem Thematic Centre. https://doi.org/10.18160/zw9y-04t7</em>
    </p>
    <h3>Instruction document history and download</h3>
    <table>
        <tbody>
            <tr>
                <th>Version</th>
                <th>Changes respect to the previous</th>
            </tr>
            <tr>
                <td>
                    <a target="_blank" href="https://docs.icos-cp.eu/share/s/rO-T5YV2RE6wunWGgp45ww">
                        20170524<br />
                        download...
                    </a>
                </td>
                <td>Format correction of the plot IDs that have to be inserted in the output file; insertion of proper generic site identifier CC-Xxx</td>
            </tr>
            <tr>
                <td>20170131</td>
                <td>First version</td>
            </tr>
        </tbody>
    </table>
    <div>
        <p><strong>doi: 10.18160/zw9y-04t7</strong></p>
    </div>
    <br />
    <a href="@Url.Action("InstructionsList","Home")">Back to list...</a>
</div>

<div id="instr_cepsun" class="instruction">
    <h1>Instruction on SS1 SunScan instrument use</h1>
    <p>Download the last version and the previous versions of the Instruction on SS1 SunScan Canopy Analysis System Ceptometer Instrument Use in the context of ICOS, focused on how to use this tool for Green Area Index measurements. This Instruction is based on the instrument manual and the following ICOS protocols:</p>
    <ul>
        <li>Gielen et al. &ldquo;Instructions for Ancillary Vegetation Measurements in Croplands&rdquo;</li>
        <li>Gielen et al. &ldquo;Instructions for Ancillary Vegetation Measurements in Forests&rdquo;</li>
        <li>Op de Beeck et al. &ldquo;Instructions for Ancillary Vegetation Measurements in Grasslands&rdquo;</li>
    </ul>
    <p>
        The Instruction document can be cited as:
        <br />
        <em>Op de Beeck, M., Sabbatini, S., &amp; Papale, D. (2017). ICOS Ecosystem Instructions for SS1 SunScan Canopy Analysis Ceptometer Use (Version 20170825). ICOS Ecosystem Thematic Centre. https://doi.org/10.18160/kyvj-78xn</em>
    </p>
    <h3>Instruction document history and download</h3>
    <table>
        <tbody>
            <tr>
                <th>Version</th>
                <th>Changes respect to the previous</th>
            </tr>
            <tr>
                <td>
                    <a target="_blank" href="https://docs.icos-cp.eu/share/s/DinAeKQgSy-J0NSWXVk4VA">
                        20170825<br />
                        download...
                    </a>
                </td>
                <td>Update for the number of measurements in rectangular CPs in row arranged forests.</td>
            </tr>
            <tr>
                <td>20170524</td>
                <td>Format correction of the CP IDs; insertion of proper generic site identifier CC-Xxx; added that in forests the below-canopy sampling points in each CP have to be visited in increasing ID order.</td>
            </tr>
            <tr>
                <td>20170131</td>
                <td>First version</td>
            </tr>
        </tbody>
    </table>
    <div>
        <p><strong>doi: 10.18160/kyvj-78xn</strong></p>
    </div>
    <br />
    <a href="@Url.Action("InstructionsList","Home")">Back to list...</a>
</div>

<div id="instr_species" class="instruction">
    <h1>Instruction on plant species reporting</h1>
    <p>Download the last version and the previous versions of the Instruction on Plant Species Reporting, where it is explained how to correctly report the scientific name of plants species in the ICOS sites. This Instruction is based on the database and methods available in www.theplantlist.org</p>
    <p>
        The Instruction document can be cited as:
        <br />
        <em>Pellis, G., &amp; Papale, D. (2017). ICOS Ecosystem Instructions for Plant Species Reporting (Version 20170129). ICOS Ecosystem Thematic Centre. https://doi.org/10.18160/as0v-x7fc</em>
    </p>
    <h3>Instruction document history and download</h3>
    <table>
        <tbody>
            <tr>
                <th>Version</th>
                <th>Changes respect to the previous</th>
            </tr>
            <tr>
                <td>
                    <a target="_blank" href="https://docs.icos-cp.eu/share/s/DASceoO5T-GpZaSz_igaZg">
                        20170129<br />
                        download...
                    </a>
                </td>
                <td>First version</td>
            </tr>
        </tbody>
    </table>
    <div>
        <p><strong>doi: 10.18160/as0v-x7fc</strong></p>
    </div>
    <br />
    <a href="@Url.Action("InstructionsList","Home")">Back to list...</a>
</div>

<div id="instr_team" class="instruction">
    <h1>Instruction on Station team description</h1>
    <p>Download the last version and the previous versions of the Instruction on Station Team Description in the context of ICOS, focused on how to describe the station team and how this is linked to communications.</p>
    <p>
        The Instruction document can be cited as:
        <br />
        <em>
            Papale, D., Canfora, E., &amp; Polidori, D. (2016). ICOS Ecosystem Instructions for Station Team Description (20170626). ICOS Ecosystem Thematic Centre. https://doi.org/10.18160/3aq1-p947
        </em>
    </p>
    <h3>Instruction document history and download</h3>
    <table>
        <tbody>
            <tr>
                <th>Version</th>
                <th>Changes respect to the previous</th>
            </tr>
            <tr>
                <td>
                    <a target="_blank" href="https://docs.icos-cp.eu/share/s/c5XH_dRJSlO98PTb5Liqeg">
                        20170626<br />
                        download...
                    </a>
                </td>
                <td>Added the ORCID as parameter. Small textual changes.</td>
            </tr>
            <tr>
                <td>20161125</td>
                <td>Added the explanation of which of the Team members get by default an account to submit data.</td>
            </tr>
            <tr>
                <td>20161114</td>
                <td>First version</td>
            </tr>
        </tbody>
    </table>
    <div>
        <p><strong>doi: 10.18160/3aq1-p947</strong></p>
    </div>
    <br />
    <a href="@Url.Action("InstructionsList","Home")">Back to list...</a>
</div>

<div id="instr_badm" class="instruction">
    <h1>Instruction on ho??w to use the ICOSBADM</h1>
    <p>Download the last version and the previous versions of the Instruction on how to Use the ICOS BADM to submit non-continuous data using the ICOS template based on the BADM system.</p>
    <p>
        The Instruction document can be cited as:
        <br />
        <em>Papale, D., Canfora, E., &amp; Polidori, D. (2017). ICOS Ecosystem Instructions for Use the ICOS BADM (Version 20171013). ICOS Ecosystem Thematic Centre. https://doi.org/10.18160/6m8s-fy7m</em>
    </p>
    <h3>Instruction document history and download</h3>
    <table>
        <tbody>
            <tr>
                <th>Version</th>
                <th>Changes respect to the previous</th>
            </tr>
            <tr>
                <td>
                    <a target="_blank" href="https://docs.icos-cp.eu/share/s/p-QKbxs-RNONlUXUDJ0r7Q">
                        20171013<br />
                        download...
                    </a>
                </td>
                <td>Changed to file name format for the BADM adding the flexibility to use up to 6 characters before the extension.</td>
            </tr>
            <tr>
                <td>20170920</td>
                <td>First version</td>
            </tr>
        </tbody>
    </table>
    <div>
        <p><strong>doi: 10.18160/6m8s-fy7m</strong></p>
    </div>
    <br />
    <a href="@Url.Action("InstructionsList","Home")">Back to list...</a>
</div>

<div id="instr_ecform" class="instruction">
    <h1>Instruction on eddy covariance turbulent flux raw data format</h1>
    <p>Download the last version and the previous versions of the Instruction on Eddy Covariance Turbulent Flux Raw Data Format where the characteristics of the files and required metadata are described.</p>
    <p>
        The Instruction document can be cited as:
        <br />
        <em>Sabbatini, S., &amp; Papale, D. (2017). ICOS Ecosystem Instructions for Raw Data Format for CO2 Eddy Covariance Measurements (Version 20180419). ICOS Ecosystem Thematic Centre. https://doi.org/10.18160/v5jt-9f66</em>
    </p>
    <h3>Instruction document history and download</h3>
    <table>
        <tbody>
            <tr>
                <th>Version</th>
                <th>Changes respect to the previous</th>
            </tr>
            <tr>
                <td>
                    <a target="_blank" href="https://docs.icos-cp.eu/share/s/tffX0Ep2TSy_i1LKOpSgtw">
                        20180419<br />
                        download...
                    </a>
                </td>
                <td>Removed from the list of the optional variables (Table 1B) SOS and FLOW_PRESSDROP because can not be collected.</td>
            </tr>
            <tr>
                <td>20171020</td>
                <td>Corrected an error in the units of the GA Diagnostic.</td>
            </tr>
            <tr>
                <td>20171013</td>
                <td>Changed file name structure requiring 2 digits for logger and file ID. Clarified how to submit TIMESTAMP and missing values. Clarified the header format.</td>
            </tr>
            <tr>
                <td>20170508</td>
                <td>First version</td>
            </tr>
        </tbody>
    </table>
    <div>
        <p><strong>doi: 10.18160/v5jt-9f66</strong></p>
    </div>
    <br />
    <a href="@Url.Action("InstructionsList","Home")">Back to list...</a>
</div>

<div id="instr_stform" class="instruction">
    <h1>Instruction on eddy covariance storage flux raw data format</h1>
    <p>Download the last version and the previous versions of the Instruction on Eddy Covariance Storage Flux Raw Data Format where the characteristics of the files and required metadata are described.</p>
    <p>
        The Instruction document can be cited as:
        <br />
        <em>Sabbatini, S., Nicolini, G., &amp; Papale, D. (2017). ICOS Ecosystem Instructions for Raw Data Format for CO2 Storage Measurements (Version 20171013). ICOS Ecosystem Thematic Centre. https://doi.org/10.18160/9p4f-6nwg</em>
    </p>
    <h3>Instruction document history and download</h3>
    <table>
        <tbody>
            <tr>
                <th>Version</th>
                <th>Changes respect to the previous</th>
            </tr>
            <tr>
                <td>
                    <a target="_blank" href="https://docs.icos-cp.eu/share/s/iabStGdNRSejxUDR9TmMRQ">
                        20171013<br />
                        download...
                    </a>
                </td>
                <td>Changed file name structure requiring 2 digits for logger and file ID. Clarified how to submit TIMESTAMP and missing values. Clarified the header format.</td>
            </tr>
            <tr>
                <td>20170712</td>
                <td>First version</td>
            </tr>
        </tbody>
    </table>
    <div>
        <p><strong>doi: 10.18160/9p4f-6nwg</strong></p>
    </div>
    <br />
    <a href="@Url.Action("InstructionsList","Home")">Back to list...</a>
</div>

<div id="instr_bmform" class="instruction">
    <h1>Instruction on meteorological raw data format</h1>
    <p>Download the last version and the previous versions of the Instruction on Meteorological Raw Data Format where the characteristics of the files and required metadata are described.</p>
    <p>
        The Instruction document can be cited as:
        <br />
        <em>Sabbatini, S., Op de Beeck, M., &amp; Papale, D. (2017). ICOS Ecosystem Instructions for Raw Data Format for Meteorological Measurements (Version 20180502). ICOS Ecosystem Thematic Centre. https://doi.org/10.18160/tpp4-4smp</em>
    </p>
    <h3>Instruction document history and download</h3>
    <table>
        <tbody>
            <tr>
                <th>Version</th>
                <th>Changes respect to the previous</th>
            </tr>
            <tr>
                <td>
                    <a target="_blank" href="https://docs.icos-cp.eu/share/s/HmJeIC1fSxy4rZBmO6FlZw">
                        20180502<br />
                        download...
                    </a>
                </td>
                <td>Added SW_DIF as variable.</td>
            </tr>
            <tr>
                <td>20180419</td>
                <td>Added SW_T_BODY as variable (used in some radiometer).</td>
            </tr>
            <tr>
                <td>20180321</td>
                <td>Improved explanation on the use of the H and V indexes in the variable names. Clarified the use of instrument units, when not mandatory and the units.</td>
            </tr>
            <tr>
                <td>20171013</td>
                <td>Changed file name structure requiring 2 digits for logger and file ID. Clarified how to submit TIMESTAMP and missing values. Clarified the header format.</td>
            </tr>
            <tr>
                <td>20170901</td>
                <td>Added G_SF in Table 1.</td>
            </tr>
            <tr>
                <td>20170508</td>
                <td>First version</td>
            </tr>
        </tbody>
    </table>
    <div>
        <p><strong>doi: 10.18160/tpp4-4smp</strong></p>
    </div>
    <br />
    <a href="@Url.Action("InstructionsList","Home")">Back to list...</a>
</div>

<script>
    $(function () {
        $('.instruction').hide();
        $('#instr_@ViewBag.instrID').show();
    });
</script>
