﻿
@{
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}


<script type="text/javascript" src="http://gaia.agraria.unitus.it/Charts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/amcharts/amcharts.js"></script>
        
<script type="text/javascript" src="~/amcharts/serial.js"></script>
<script type="text/javascript" src="~/amcharts/themes/light.js"></script>
<script type="text/javascript" src="~/amcharts/plugins/export/export.js"></script>

<link href="../../lightbox/css/lightbox.css" rel="stylesheet" />
<link href="~/amcharts/plugins/export/export.css" rel="stylesheet" />

<style type="text/css">
    div#outer {
        width: 100%;
        margin: auto;
        background: #f1f1f2;
        background: -moz-linear-gradient(-45deg, #ffffff 0%, #f1f1f2 75%);
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffffff), color-stop(75%, #f1f1f2));
        background: -webkit-linear-gradient(-45deg, #ffffff 0%, #f1f1f2 75%);
        background: -o-linear-gradient(-45deg, #ffffff 0%, #f1f1f2 75%);
        background: -ms-linear-gradient(-45deg, #ffffff 0%, #f1f1f2 75%);
        background: linear-gradient(135deg, #ffffff 0%, #f1f1f2 75%);
    }

    div#site_header {
        width: 1190px;
        margin: auto;
    }

    div#chartcontent {
        width: 100%;
        margin: auto;
        padding: 5px;
    }

    #flux1, #flux2, #flux3, #meteo1, #meteo2, #meteo3 {
        width: 550px;
        height: 400px;
    }

    #chart {
        width: 1190px;
        margin: auto;
        background-color: #FFFFFF;
    }

    .loading-image {
        position: relative;
        top: 100px;
        left: 50%;
        z-index: 10;
    }

    .loader {
        width: 900px;
        height: 50px;
        background-color: #E8E0E0;
        position: relative;
        text-align: center;
        margin: auto;
        z-index: 2;
        overflow: auto;
    }

    .lightboxOverlay {
        position: relative;
        margin: auto;
        z-index: 9999;
        background-color: #FFFFFF;
        display: block;
        width: 200px;
        height: 200px;
    }

    #inner-big-chart, #nee-chart, #h-chart,
    #le-chart, #rn-g-chart, #temp-chart,
    #p-swc-chart, #other-chart {
        background-color: #fff;
        height: 600px;
        width: 900px;
        margin: auto;
        border: solid 1px #000;
        margin-top: 10px;
    }
</style>
<script type="text/javascript">
    var arg_list = ['G', 'NETRAD'];
    var temp_list = ['TA', 'TS'];
    var swc_list = ['SWC', 'P'];
    var other_list = ['SW_IN', 'SW_OUT', 'LW_IN', 'LW_OUT', 'PPFD_IN', 'PPFD_OUT', /*'T_SONIC',*/'RPOT'];
    var colors = ["#000000", "#FF0000"];
    var graphColors = ["#FF0000", "#0033CC", "#CC6600", "#006600", "#FFCC00", "#333333", "#18BA03", "#1DD1F5", "#908200", "#BC4403", "#A5A5A9", "#FF00CD", "#C6FFF5", "#1B3950", "#02440D", "#000000", "#7B68D0", "#87D068", "#640202"];

    var hChart = 750;
    var prefix = "";
    var selectedSite=0;
    var ustarTh=0.2;
    var maxUseDate = "";
    var mainTitles = [['G (W m-2)', 'NETRAD (W m-2 )'], ['TA, TS (°C)'], ['SWC (%vol)', 'P (mm)'], ['LW, SW, RPOT (W m-2)','PPFD (umol m-2 s-1)'/*'LW_IN, LW_OUT, SW_IN, SW_OUT (W/m2), RPOT (W/m2)', 'PPFD_IN (umol/m2/s)''SW_IN, SW_OUT (W m-2 )', 'PPFD_IN, PPFD_OUT (umol m-2 s-1)', 'RPOT (W m-2 )'*/]];

    var keyTitles = [];
    keyTitles.push({ 'Name': 'G', 'Title': 'G (W m-2)' });
    keyTitles.push({ 'Name': 'NETRAD', 'Title': 'NETRAD (W m-2)' });
    keyTitles.push({ 'Name': 'TATS', 'Title': 'TA, TS (°C)' });
    keyTitles.push({ 'Name': 'SWC', 'Title': 'SWC (%vol)' });
    keyTitles.push({ 'Name': 'P', 'Title': 'P (mm)' });
    keyTitles.push({ 'Name': 'LWSWRPOT', 'Title': 'LW, SW, RPOT (W m-2)' });
    keyTitles.push({ 'Name': 'PPFD', 'Title': 'PPFD (umol m-2 s-1)' });

    var g_titles = [['g', 'netrad'], ['ta', 'ts'], ['swc', 'p'], ['sw', 'ppfd', 'rpot']];
    var globalMin = [];
    var globalMax = [];

    function getTitleByKey(par) {
        for (var i = 0; i < keyTitles.length; i++) {
            for (var key in keyTitles[i]) {
                if (keyTitles[i][key] === par || keyTitles[i][key].indexOf(par) >= 0) {
                    return keyTitles[i]['Title'];
                }
            }
        }
    }

    function loadData(vsite) {
        selectedSite = vsite;
        if (selectedSite == 17) {
            prefix = "FR-Fon";
        }
        else if (selectedSite == 560) {
            prefix = "IT-SR2";
        }
        else if (selectedSite == 117) {
            prefix = "FI-Hyy";
        }
        else if (selectedSite == 57) {
            prefix = "SE-Nor";
        }
        else if (selectedSite == 350) {
            prefix = "BE-Lcr";
        }
        $("#chartcontent").css('display', 'block');
        $("#titleSite").text(prefix);

        $.ajax({
            url: "http://gaia.agraria.unitus.it/icosData/ustar_threshold" + selectedSite + ".txt",
            dataType: "text",
            success: function (data) {
                ustarTh = parseFloat(data);
            },
            error: function (data, status, error) {
                ustarTh = 0.2;
            }
        });
        //alert(ustarTh);
        getFluxData(selectedSite, 'CO2', 'nee-chart', -100, 70);
        getFluxData(selectedSite, 'H', 'h-chart', -300, 1000);
        getFluxData(selectedSite, 'LE', 'le-chart', -300, 1000);
        getMixed(selectedSite, arg_list, 'rn-g-chart', 0);
        getTemp(selectedSite, temp_list, 'temp-chart', 1);
        getSwc(selectedSite, swc_list, 'p-swc-chart', 2);
        getOther(selectedSite, other_list, 'other-chart', 3);
    }

    $(document).ready(function () {
        $("#chartcontent").css('display', 'none');
       /* $.ajax({
            url: "http://gaia.agraria.unitus.it/icosData/ustar_threshold" + selectedSite + ".txt",
            dataType: "text",
            success: function (data) {
                ustarTh = parseFloat(data);
            },
            error: function (data, status, error) {
                ustarTh = 0.2;
            }
        });
        */
    });
    /* */

    function getFluxData(num, var_name, div, min, max) {
        var objReq = "{ 'Site':" + num + ", 'Var': '" + var_name + "' }";
        $("#" + div).html('');
        $.ajax
            ({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("getData" , "Nrt")",
                data: "{'req':" + objReq + "}",
                dataType: "json",
                async: false,
                success: function (data, textStatus) {
                    var titleTo = "± 2σunc";
                    var titleVal = "Calculated fluxes";
                    var titleUst = "u* < " + ustarTh + " ms−1 threshold";
                    var titleQc = "steady state and/or well-developed turbolence tests failed";
                    var titleSpike = "potential spike";
                    var yTitle = "";
                    var font_size = 7;
                    var rotation = 0;
                    var label_frequency = 2;
                    var legend_font_size = 9;

                    if (var_name == "CO2") {
                        yTitle = "NEE (μmol m−2 s−1)";
                    }
                    else {
                        yTitle = var_name + " (W m−2)";
                    }

                    var msg;

                    if (data.hasOwnProperty('d')) {
                        msg = data.d;
                    }
                    else {
                        msg = data;
                    }

                    if (msg === null) {
                        $("#" + div).html('<p>No data available in the latest ten days</p>');
                        return false;
                    }


                    maxUseDate = msg[msg.length - 1].Date.toString();
                    maxUseDate = maxUseDate.replace(/-/g, "");
                    maxUseDate = maxUseDate.substring(0, 8);
                    for (i = 0; i < msg.length; i++) {

                        if ((msg[i].Value <= -9999) || (msg[i].Value < min) || (msg[i].Value > max) || (msg[i].OorFlag == 1)) { //|| (msg[i].OorFlag == 1 && selectedSite == 117)
                            msg[i].Value = NaN;
                            msg[i].FromValue = NaN;
                            msg[i].ToValue = NaN;
                            msg[i].Ustar = NaN;
                            msg[i].QcMax = NaN;
                            msg[i].Spike = NaN;
                            continue;
                        }
                        if (msg[i].Ustar <= -9999) {
                            msg[i].Ustar = NaN;
                        }
                        if (msg[i].QcMax <= -9999) {
                            msg[i].QcMax = NaN;
                        }
                        if (msg[i].Spike <= -9999) {
                            msg[i].Spike = NaN;
                        }

                    }

                    var chart = new AmCharts.AmSerialChart();
                    //chart.clear();
                    chart.categoryField = "Date";
                    var categoryAxis = chart.categoryAxis;
                    categoryAxis.labelRotation = rotation;
                    categoryAxis.gridCount = 10;
                    categoryAxis.labelFrequency = label_frequency;
                    categoryAxis.autoGridCount = false;
                    categoryAxis.fontSize = font_size;
                    chart.export = {
                        "enabled": true,
                        "position": "top-right",
                        "menu": [{
                            "class": "export-main",
                            "menu": [{
                                "label": "Download",
                                "menu": ["PNG", "JPG", "PDF"]
                            }]
                        }]
                    };

                    chart.dataProvider = msg;

                    chart.legend = {
                        "position": "top",
                        "markerSize": 4,
                        "fontSize": legend_font_size,
                        "data": [{
                            title: titleVal,
                            color: "#FF0000"
                        }, {
                            title: titleTo,
                            color: "#999999"
                        }, {
                            title: titleQc,
                            color: "#0000ff"
                        }, {
                            title: titleSpike,
                            color: "#000000"
                        }],
                        "valueWidth": "15"
                    };
                    if (var_name == "CO2") {
                        chart.legend["data"].push({
                            title: titleUst,
                            color: "#b0de09"
                        });
                    }

                    chart.valueAxes = [{
                        "id": "fluxAxis",
                        "axisAlpha": 0,
                        "gridAlpha": 0,
                        "position": "left",
                        "fontSize": 8,
                        "title": yTitle
                    }];
                    chart.graphs = [{
                        "id": "valueGraph",
                        "type": "line",
                        "valueField": "Value",
                        "fillAlphas": 0,
                        "connect": false,
                        "lineColor": "#FF0000",
                        "lineThickness": 1,
                        "title": titleVal,
                        "balloonText": "[[Date]]<br /><b><span style='font-size:14px;'>[[Value]]</span></b>"
                    },
                     {
                         "id": "fromGraph",
                         "type": "lLine",
                         "lineAlpha": 0.2,
                         "showBalloon": false,
                         "valueField": "FromValue",
                         "fillAlphas": 0,
                         "connect": false,
                         "lineThickness": 2,
                         "lineColor": "#999999",
                         "title": titleTo
                     }, {
                         "id": "toGraph",
                         "type": "line",
                         "fillAlphas": 0.5,
                         "fillToGraph": "fromGraph",
                         "lineAlpha": 0.2,
                         "showBalloon": false,
                         "valueField": "ToValue",
                         "connect": false,
                         "lineThickness": 2,
                         "lineColor": "#999999",
                         "title": titleTo
                     }, {
                         "id": "ustarGraph",
                         "bullet": "diamond",
                         "bulletBorderThickness": 0,
                         "lineAlpha": 0,
                         "lineColor": "#b0de09",
                         "maxBulletSize": 2,
                         "minBulletSize": 4,
                         "periodSpan": 0,
                         "showBalloon": false,
                         "valueField": "Ustar",
                         "title": titleUst
                     }, {
                         "id": "qcGraph",
                         "bullet": "triangleDown",
                         "bulletBorderThickness": 0,
                         "lineAlpha": 0,
                         "lineColor": "#0000ff",
                         "maxBulletSize": 3,
                         "minBulletSize": 5,
                         "periodSpan": 0,
                         "showBalloon": false,
                         "valueField": "QcMax",
                         "title": titleQc
                     }, {
                         "id": "spikeGraph",
                         "bullet": "triangleUp",
                         "bulletBorderThickness": 0,
                         "lineAlpha": 0,
                         "lineColor": "#000000",
                         "maxBulletSize": 3,
                         "minBulletSize": 5,
                         "periodSpan": 0,
                         "showBalloon": false,
                         "valueField": "Spike",
                         "title": titleSpike
                     }];
                    chart.chartCursor = {
                        "zoomable": true,
                        "fullWidth": true,
                        "cursorAlpha": 0.1,
                        "categoryBalloonEnabled": false,
                        "cursorPosition": "mouse"
                    };
                    chart.write(div);

                },
                error: function (data, status, error) {
                    alert("An error occurred in chart drawing!");
                },

                beforeSend: function () {
                    $("#" + div).html("");
                    var bf_div = "#" + div;
                    var lboverlay = "lightboxOverlay_" + div;
                    $("<div id='" + lboverlay + "' class='lightboxOverlay'><img class='loading-image' src='http://gaia.agraria.unitus.it/imm/ajax-loader1.gif' alt='loading' /><center>Loading data, please wait</center></div>").appendTo(bf_div);

                },
                complete: function () {
                    var lboverlay = "lightboxOverlay_" + div;
                    $("#" + lboverlay).remove();
                }
            });
    }

    function getMixed(nn, obj, div, ix) {

        var vList = [];
        for (i = 0; i < obj.length; i++) {
            vList.push(obj[i]);
        }
        var objZ = { 'Site': nn, 'VarsList': vList };
        $.ajax
            ({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("getMixed2" , "Nrt")",
                data: "{'req':" + JSON.stringify(objZ) + "}",
                dataType: "json",
                async: false,
                success: function (data, textStatus) {
                    var msg;
                    if (data.hasOwnProperty('d')) {
                        msg = data.d;
                    }
                    else {
                        msg = data;
                    }

                    var chartData = [];
                    var min_vals = new Array(msg.MetList.length);
                    var max_vals = new Array(msg.MetList.length);

                    for (k = 0; k < msg.MetList.length; k++) {

                        min_vals[k] = 9999;
                        max_vals[k] = -9999;
                    }

                    if (msg.Dates === null || msg.Dates === undefined || msg.Dates.length == 0 || msg.MetList.length == 0) {

                        var bf_div = "#" + div;
                        $(bf_div).html("");
                        var lboverlay = "lightboxOverlay_" + div;
                        $("<div id='" + lboverlay + "' class='lightboxOverlay'><center>No data for G and NETRAD variables in the latest 10 days</center></div>").appendTo(bf_div);
                        return;
                    }

                    maxUseDate = msg.Dates[msg.Dates.length - 1].toString();
                    maxUseDate = maxUseDate.replace(/-/g, "");
                    maxUseDate = maxUseDate.substring(0, 8);
                    var gphArray = [];
                    var yAxis = [];
                    var legendData = [];

                    for (i = 0; i < msg.Dates.length; i++) {
                        var ob = {};
                        ob["Date"] = msg.Dates[i];
                        for (k = 0; k < msg.MetList.length; k++) {

                            var key = msg.MetList[k].Name;
                            // alert(key);
                            if (msg.MetList[k].Vals[i] <= -9999) {
                                ob[key] = NaN;
                            }
                            else {
                                ob[key] = msg.MetList[k].Vals[i];
                                if (msg.MetList[k].Vals[i] > max_vals[k]) {
                                    max_vals[k] = msg.MetList[k].Vals[i];
                                }
                                if (msg.MetList[k].Vals[i] < min_vals[k]) {
                                    min_vals[k] = msg.MetList[k].Vals[i];
                                }
                            }
                        }
                        chartData.push(ob);
                    }
                    var nAx = 0;
                    //console.log(obj);
                    //console.log(ob);
                    for (k = 0; k < msg.MetList.length; k++) {
                        if (msg.MetList[k].Vals.length == 0) {
                            $("#messages").append("<p>No data found for variable " + msg.MetList[k].Name + "</p>");
                        }
                        else {
                            nAx++;
                            yAxis.push({
                                "id": "v" + k,
                                "axisColor": "#000000",
                                "gridAlpha": 0,
                                "axisAlpha": 1,
                                "position": (k == 0) ? "left" : "right",
                                "axisThickness": 1,
                                "autoGridCount": false,
                                "gridCount": (k == 0) ? 10 : 8,
                                "fontSize": 8,
                                "title": getTitleByKey( msg.MetList[k].Name)
                            });
                            gphArray.push({
                                "valueAxis": "v" + k,
                                "bulletSize": 14,
                                "customBulletField": "customBullet",
                                "valueField": msg.MetList[k].Name,
                                "title": msg.MetList[k].Name, //obj[k],
                                "showBalloon": false,
                                "connect": false,
                                //"fillAlphas": (obj[k] == "G") ? 0.25 : 0,
                                "lineColor": graphColors[k % graphColors.length]
                            });
                            legendData.push({ title: obj[k], color: colors[k] });
                        }
                    }
                    //console.log(yAxis);
                    var chart = AmCharts.makeChart('rn-g-chart', {
                        "type": "serial",
                        "dataProvider": chartData,
                        "valueAxes": yAxis,
                        "graphs": gphArray,
                        "chartCursor": {
                            "zoomable": true,
                            "fullWidth": true,
                            "cursorAlpha": 0.1,
                            "categoryBalloonEnabled": true,
                            "cursorPosition": "mouse"
                        },

                        "autoMargins": true,
                        "categoryField": "Date",
                        "categoryAxis": {
                            "axisAlpha": 0.5,
                            "gridAlpha": 0.25,
                            "fontSize": 7,
                            "labelFrequency": 2,
                            "autoGridCount": false,
                            "gridCount": 10,
                            "gridColor": "#123456"
                        },
                        "legend": {
                            "position": "top",
                            "valueWidth": 60,
                            "fontSize": 8,
                            "align": "left",
                            "useGraphSettings": true
                        },

                        "export": {
                            "enabled": true,
                            "position": "top-right",
                            "menu": [{
                                "class": "export-main",
                                "menu": [{
                                    "label": "Download",
                                    "menu": ["PNG", "JPG", "PDF"]
                                }]
                            }]
                        }

                    });

                },
                error: function (data, status, error) {
                    alert(status + " " + error);
                }
            });
     }

     function getTemp(nn, obj, div, ix) {

        var vList = [];
        for (i = 0; i < obj.length; i++) {
            vList.push(obj[i]);
        }
        var objZ = { 'Site': nn, 'VarsList': vList };
        $.ajax
            ({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("getMixed2" , "Nrt")",
                data: "{'req':" + JSON.stringify(objZ) + "}",
                dataType: "json",
                async: false,
                success: function (data, textStatus) {
                    var msg;
                    if (data.hasOwnProperty('d')) {
                        msg = data.d;
                    }
                    else {
                        msg = data;
                    }

                    var chartData = [];
                    var min_vals = new Array(msg.MetList.length);
                    var max_vals = new Array(msg.MetList.length);

                    for (k = 0; k < msg.MetList.length; k++) {
                        min_vals[k] = 9999;
                        max_vals[k] = -9999;
                    }

                    if (msg.Dates === null || msg.Dates === undefined || msg.Dates.length == 0||msg.MetList.length==0) {
                        var bf_div = "#" + div;
                         $(bf_div).html("");
                        var lboverlay = "lightboxOverlay_" + div;
                        $("<div id='" + lboverlay + "' class='lightboxOverlay'><center>No data for TA and TS variables in the latest 10 days</center></div>").appendTo(bf_div);
                        return;
                    }

                    maxUseDate = msg.Dates[msg.Dates.length - 1].toString();
                    maxUseDate = maxUseDate.replace(/-/g, "");
                    maxUseDate = maxUseDate.substring(0, 8);
                    var gphArray = [];
                    var yAxis = [];
                    var legendData = [];

                    var ic = 0;
                    for (i = 0; i < msg.Dates.length; i++) {
                        var ob = {};
                        ob["Date"] = msg.Dates[i];
                        for (k = 0; k < msg.MetList.length; k++) {
                            var key = msg.MetList[k].Name;
                            if (i == 0) {
                                if (key == "TS_1") ic = 0;
                                gphArray.push({
                                    "bulletSize": 14,
                                    "customBulletField": "customBullet",
                                    "valueField": key,
                                    "title": key,
                                    "showBalloon": false,
                                    "connect": false,
                                    "lineColor": (key == "TA") ? "#000000" : graphColors[ic % graphColors.length],
                                    "lineThickness": 2,
                                    "dashLength": (key.indexOf("TA") >= 0) ? 0 : 2
                                });
                                legendData.push({ title: key, color: graphColors[k % graphColors.length] });
                                ic++;
                            }
                            if (msg.MetList[k].Vals[i] <= -9999) {
                                ob[key] = NaN;
                            }
                            else {
                                ob[key] = msg.MetList[k].Vals[i];
                                if (msg.MetList[k].Vals[i] > max_vals[k]) {
                                    max_vals[k] = msg.MetList[k].Vals[i];
                                }
                                if (msg.MetList[k].Vals[i] < min_vals[k]) {
                                    min_vals[k] = msg.MetList[k].Vals[i];
                                }
                            }
                        }
                        chartData.push(ob);
                    }
                     var _max = (Math.max.apply(Math, max_vals))*1.1;
                     var _min = (Math.min.apply(Math, min_vals))*0.9;
                     _max=Math.ceil(_max);
                     _min=Math.floor(_min);
                     var chart = AmCharts.makeChart('temp-chart', {
                        "type": "serial",
                        "theme": "light",
                        "dataProvider": chartData,
                        "valueAxes": [{
                                    "axisColor": colors[0],
                                    "gridAlpha": 0,
                                    "axisAlpha": 1,
                                    "position": "left",
                                    "axisThickness": 1,
                                    "autoGridCount": false,
                                    "minimum": _min,
                                    "maximum": _max,
                                    "fontSize": 8,
                                    "title": mainTitles[ix][0]}
                         ],
                        "graphs": gphArray,
                        "chartCursor": {
                            "zoomable": true,
                            "fullWidth": true,
                            "cursorAlpha": 0.1,
                            "categoryBalloonEnabled": true,
                            "cursorPosition": "mouse"
                        },

                        "autoMargins": true,
                        "categoryField": "Date",
                        "categoryAxis": {
                            "axisAlpha": 0.5,
                            "gridAlpha": 0.25,
                            "fontSize": 7,
                            "labelFrequency": 2,
                            "autoGridCount":false,
                            "gridCount": 10,
                            "gridColor": "#123456"
                        },
                        "legend": {
                            "position": "top",
                            "valueWidth": 60,
                            "fontSize": 8,
                            "align": "left",
                            "useGraphSettings": true
                        },
                        "export": {
					        "enabled": true,
					        "position": "top-right",
                            "menu": [ {
                                        "class": "export-main",
                                        "menu": [ {
                                            "label": "Download",
                                            "menu": [ "PNG", "JPG", "PDF" ]
                                            }]
                                    } ]
				            }
                    });
                },
                error: function (data, status, error) {
                    alert(status + " " + error);
                }
            });
        }

        function getSwc(nn, obj, div, ix) {

            var vList = [];
            for (i = 0; i < obj.length; i++) {
                vList.push(obj[i]);
            }
            var objZ = { 'Site': nn, 'VarsList': vList };
            $.ajax
            ({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("getMixed2" , "Nrt")",
                data: "{'req':" + JSON.stringify(objZ) + "}",
                dataType: "json",
                async: false,
                success: function (data, textStatus) {
                    var msg;
                    if (data.hasOwnProperty('d')) {
                        msg = data.d;
                    }
                    else {
                        msg = data;
                    }

                    var chartData = [];
                    var noData = [];
                    var font_size = 7;
                    var rotation = 0;
                    var label_frequency = 2;
                    var legend_font_size = 9;
                    var max_vals = new Array(msg.MetList.length);

                    for (k = 0; k < msg.MetList.length; k++) {
                        max_vals[k] = -9999;
                    }
                    if (msg.Dates === null || msg.Dates === undefined || msg.Dates.length == 0||msg.MetList.length==0) {
                        var bf_div = "#" + div;
                         $(bf_div).html("");
                        var lboverlay = "lightboxOverlay_" + div;
                        $("<div id='" + lboverlay + "' class='lightboxOverlay'><center>No data for P and SWC variables in the latest 10 days</center></div>").appendTo(bf_div);
                        return;
                    }

                    maxUseDate = msg.Dates[msg.Dates.length - 1].toString();
                    maxUseDate = maxUseDate.replace(/-/g, "");
                    maxUseDate = maxUseDate.substring(0, 8);
                    var gphArray = [];
                    var yAxis = [];
                    var legendData = [];

                    for (i = 0; i < msg.Dates.length; i++) {
                        var ob = {};
                        ob["Date"] = msg.Dates[i];
                        for (k = 0; k < msg.MetList.length; k++) {
                            var key = msg.MetList[k].Name;
                            if (msg.MetList[k].Vals[i] <= -9999) {
                                ob[key] = NaN;
                            }
                            else {
                                ob[key] = msg.MetList[k].Vals[i];
                                if(key.indexOf("SWC")>=0){
                                    if (msg.MetList[k].Vals[i] > max_vals[k]) {
                                        max_vals[k] = msg.MetList[k].Vals[i];
                                    }
                                }
                            }
                        }
                        chartData.push(ob);
                    }
                    var _max = (Math.max.apply(Math, max_vals))*1.5;
                    _max=Math.ceil(_max);
                    if(_max>100) _max=100;
                    var n = 0;
                    var pre = "";
                    for (k = 0; k < msg.MetList.length; k++) {
                        if (msg.MetList[k].Vals.length == 0) {
                           // $("#messages").append("<p>No data found for variable " + msg.MetList[k].Name + "</p>");
                        }
                        else {
                            if (msg.MetList[k].Name.indexOf("P") >= 0) {
                                ++n;
                            }
                            gphArray.push({
                                "valueAxis": "v" + n,
                                "bulletSize": 14,
                                "customBulletField": "customBullet",
                                "valueField": msg.MetList[k].Name,
                                "title": msg.MetList[k].Name,
                                "showBalloon": false,
                                "connect": false,
                                "type":"line",
                                "lineColor": (n==0)?graphColors[k % graphColors.length]:"#0000ff",
                                "fillAlphas": (n == 1) ? 0.85 : 0
                            });
                        }
                    }

                    var chart = AmCharts.makeChart('p-swc-chart', {
                        "type": "serial",
                        "theme": "light",
                        "dataProvider": chartData,
                        "valueAxes": [
                                        {"id": "v0",
                                        "axisColor": "#000000",
                                        "gridAlpha": 0,
                                        "axisAlpha": 1,
                                        "position":"left",
                                        "axisThickness": 1,
                                        "autoGridCount": false,
                                        "gridCount":  10,
                                        "fontSize": 8,
                                        "title": mainTitles[ix][0],
                                        "minimum":0,
                                        "maximum":_max
                                        },
                                        {"id": "v1",
                                        "axisColor": "#000000",
                                        "gridAlpha": 0,
                                        "axisAlpha": 1,
                                        "position":"right",
                                        "axisThickness": 1,
                                        "autoGridCount": false,
                                        "gridCount": 8,
                                        "fontSize": 8,
                                        "title": mainTitles[ix][1]}
                                    ],
                        "graphs": gphArray,
                        "chartCursor": {
                            "zoomable": true,
                            "fullWidth": true,
                            "cursorAlpha": 0.1,
                            "categoryBalloonEnabled": true,
                            "cursorPosition": "mouse"
                        },

                        "autoMargins": true,
                        "categoryField": "Date",
                        "categoryAxis": {
                            "axisAlpha": 0.5,
                            "gridAlpha": 0.25,
                            "fontSize": 7,
                            "labelFrequency": 2,
                            "autoGridCount":false,
                           // "gridCount": (n==0)?10:10,
                            "gridCount": 10,
                            "gridColor": "#123456"
                        },
                        "legend": {
                            "position": "top",
                            "fontSize": 8,
                            "align": "left",
                            "valueWidth": 60,
                            "useGraphSettings": true
                        },
                        "export": {
					        "enabled": true,
					        "position": "top-right",
                            "menu": [ {
                                        "class": "export-main",
                                        "menu": [ {
                                            "label": "Download",
                                            "menu": [ "PNG", "JPG", "PDF" ]
                                            }]
                                    } ]
				            }
                    });

                },
                error: function (data, status, error) {
                    alert(status + " " + error);
                }
            });
        }

        function getOther(nn, obj, div, ix) {

            var vList = [];
            for (i = 0; i < obj.length; i++) {
                vList.push(obj[i]);
            }
            var objZ = { 'Site': nn, 'VarsList': vList };
            $.ajax
            ({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("getMixed2" , "Nrt")",
                data: "{'req':" + JSON.stringify(objZ) + "}",
                dataType: "json",
                async: false,
                success: function (data, textStatus) {
                    var msg;
                    if (data.hasOwnProperty('d')) {
                        msg = data.d;
                    }
                    else {
                        msg = data;
                    }

                    var chartData = [];
                    var noData = [];
                    var font_size = 7;
                    var rotation = 0;
                    var label_frequency = 2;
                    var legend_font_size = 9;
                    var min_vals = new Array(msg.MetList.length);
                    var max_vals = new Array(msg.MetList.length);

                    for (k = 0; k < msg.MetList.length; k++) {
                        min_vals[k] = 9999;
                        max_vals[k] = -9999;
                    }

                    if (msg.Dates === null || msg.Dates === undefined || msg.Dates.length == 0 || msg.MetList.length == 0) {
                        var bf_div = "#" + div;
                        $(bf_div).html("");
                        var lboverlay = "lightboxOverlay_" + div;
                        $("<div id='" + lboverlay + "' class='lightboxOverlay'><center>No data for SW_IN, SW_OUT, LW_IN, LW_OUT, PPFD_IN, PPFD_OUT, RPOT variables in the latest 10 days</center></div>").appendTo(bf_div);
                        return;
                    }

                    maxUseDate = msg.Dates[msg.Dates.length - 1].toString();
                    maxUseDate = maxUseDate.replace(/-/g, "");
                    maxUseDate = maxUseDate.substring(0, 8);
                    var gphArray = [];
                    var yAxis = [];
                    var rightAxis = 0;
                    var legendData = [];

                    for (i = 0; i < msg.Dates.length; i++) {
                        var ob = {};
                        ob["Date"] = msg.Dates[i];
                        for (k = 0; k < msg.MetList.length; k++) {

                            var key = msg.MetList[k].Name;
                            if (msg.MetList[k].Vals[i] <= -9999) {
                                ob[key] = NaN;
                            }
                            else {
                                ob[key] = msg.MetList[k].Vals[i];
                                if (msg.MetList[k].Vals[i] > max_vals[k] /*&& key == "RPOT"*/) {
                                    max_vals[k] = msg.MetList[k].Vals[i];
                                }
                                if (msg.MetList[k].Vals[i] < min_vals[k] /*&& key == "RPOT"*/) {
                                    min_vals[k] = msg.MetList[k].Vals[i];
                                }
                            }
                        }
                        chartData.push(ob);
                    }

                    //var _max3 = Math.max.apply(Math, max_vals);
                    //var _min3 = Math.min.apply(Math, min_vals);
                    var _max3 = Math.max(max_vals[2], max_vals[3], max_vals[5]);
                    var _min3 = Math.min(min_vals[2], min_vals[3], min_vals[5]);
                    var m1, m2;
                    var factor = 1.1;
                    for (k = 0; k < 2; k++) {
                        m1 = (_max3 * factor);
                        m2 = (_max3 * 0.15);
                        m1 = (Math.ceil(m1 / 100)) * 100;
                        m2 = (Math.floor(m2 / 100)) * 100;

                        if (k == 1) {
                            m1 = 2 * m1;
                            m2 = 2 * m2;
                        }

                        yAxis.push({
                            "id": "v" + k,
                            "axisColor": "#000000",
                            "gridAlpha": 0,
                            "axisAlpha": 1,
                            "position": (k == 0) ? "left" : "right",
                            "axisThickness": 1,
                            "autoGridCount": false,
                            "gridCount": (k == 0) ? 20 : 30,
                            "fontSize": 8,
                            "title": mainTitles[ix][k],
                            //"titleFontSize": 12,
                            "minimum": -m2,
                            "maximum": m1
                        });
                    }
                    var n = -1;
                    var pre = "";
                    var _col = "";
                    var dash = 0;
                    for (k = 0; k < msg.MetList.length; k++) {
                        if (msg.MetList[k].Vals.length == 0) {
                            // $("#messages").append("<p>No data found for variable " + msg.MetList[k].Name + "</p>");
                        }
                        else {

                            if (msg.MetList[k].Name.indexOf("RPOT") >= 0) {
                                _col = "#cccccc";
                                dash = 0;
                            }
                            else {
                                if (msg.MetList[k].Name.indexOf("_IN") >= 0) {
                                    ++n;
                                    if (msg.MetList[k].Name == "PPFD_IN") {
                                        _col = "#003300";
                                    }
                                    else {
                                        _col = graphColors[n % graphColors.length];
                                    }
                                    dash = 0;
                                }
                                else {
                                    _col = graphColors[n % graphColors.length];
                                    dash = 2;
                                }
                            }
                            gphArray.push({
                                "valueAxis": (msg.MetList[k].Name.indexOf("PPFD") >= 0) ? "v1" : "v0",
                                "bulletSize": 14,
                                "customBulletField": "customBullet",
                                "valueField": msg.MetList[k].Name,
                                "title": msg.MetList[k].Name,
                                "showBalloon": false,
                                "connect": false,
                                "fillAlphas": (msg.MetList[k].Name.indexOf("RPOT") >= 0) ? 0.25 : 0,
                                "lineColor": _col,
                                "dashLength": dash
                            });
                            legendData.push({ title: obj[k], color: colors[k] });
                        }
                    }
                    var chart = AmCharts.makeChart('other-chart', {
                        "type": "serial",
                        "theme": "light",
                        "dataProvider": chartData,
                        "valueAxes": yAxis,
                        "graphs": gphArray,
                        "chartCursor": {
                            "zoomable": true,
                            "fullWidth": true,
                            "cursorAlpha": 0.1,
                            "categoryBalloonEnabled": true,
                            "cursorPosition": "mouse"
                        },

                        "autoMargins": true,
                        "categoryField": "Date",
                        "categoryAxis": {
                            "axisAlpha": 0.5,
                            "gridAlpha": 0.25,
                            "fontSize": 7,
                            "labelFrequency": 2,
                            "autoGridCount": false,
                            "gridCount": 10,
                            "gridColor": "#123456"
                        },
                        "legend": {
                            "position": "top",
                            "valueWidth": 60,
                            "fontSize": 8,
                            "align": "left",
                            "useGraphSettings": true
                        },
                        "export": {
                            "enabled": true,
                            "position": "top-right",
                            "menu": [{
                                "class": "export-main",
                                "menu": [{
                                    "label": "Download",
                                    "menu": ["PNG", "JPG", "PDF"]
                                }]
                            }]
                        }
                    });
                },
                error: function (data, status, error) {
                    alert(status + " " + error);
                }
            });
        }
    function downloadCSV() {

        var fname="";
        fname=prefix+"_nrt_combined_upto_"+maxUseDate+".csv";
        window.location = "http://gaia.agraria.unitus.it/icosData/"+fname;
    }

</script>

<!--div id="outer"-->
<center>
    <!--div id="site_header"  col-md-offset-1 -->
    <div class="col-md-2 col-md-offset-1">
        <h3 class="text-additional" style="text-align: center;">FR-Fon</h3>
        <p style="text-align: center;"><a href="javascript:loadData(17);"><img title="FR-Fon" style="vertical-align: middle;" alt="FR-Fon" src="~/images/fr-fon2.jpg" /></a></p>
        <h5 class="text-main" style="text-align: center;"><a href="javascript:loadData(17);">Fontainebleau-Barbeau</a></h5>
    </div>
    <div class="col-md-2">
        <h3 class="text-additional" style="text-align: center;">IT-SR2</h3>
        <p style="text-align: center;"><a href="javascript:loadData(560);"><img title="IT-SR2" style="vertical-align: middle;" alt="IT-SR2" src="~/images/it-sr22.jpg" /></a></p>
        <h5 class="text-main" style="text-align: center;"><a href="javascript:loadData(560);">San Rossore 2</a></h5>
    </div>
    <div class="col-md-2">
        <h3 class="text-additional" style="text-align: center;">FI-Hyy</h3>
        <p style="text-align: center;"><a href="javascript:loadData(117);"><img title="FI-Hyy" style="vertical-align: middle;" alt="FI-Hyy" src="~/images/fihyy_small.jpg" /></a></p>
        <h5 class="text-main" style="text-align: center;"><a href="javascript:loadData(117);">Hyyti&#228;l&#228;</a></h5>
    </div>
    <div class="col-md-2">
        <h3 class="text-additional" style="text-align: center;">SE-Nor</h3>
        <p style="text-align: center;"><a href="javascript:loadData(57);"><img title="SE-Nor" style="vertical-align: middle;" alt="SE-Nor" src="~/images/senor2.jpg" /></a></p>
        <h5 class="text-main" style="text-align: center;"><a href="javascript:loadData(57);">Norunda</a></h5>
    </div>
    <div class="col-md-2">
        <h3 class="text-additional" style="text-align: center;">BE-Lcr</h3>
        <p style="text-align: center;"><a href="javascript:loadData(350);"><img title="BE-Lcr" style="vertical-align: middle;" alt="SE-Nor" src="~/images/be-lcr.jpg" /></a></p>
        <h5 class="text-main" style="text-align: center;"><a href="javascript:loadData(350);">Lochristi</a></h5>
    </div>
    <!--/div-->
</center>
<div class="row clearfix"></div>

<div id="chartcontent">
    <center><h3 id="titleSite" class="text-additional"></h3><br /><a href="javascript:downloadCSV();" title="Download combined data">Download combined data</a><br /></center>
    <div id="nee-chart"></div>
    <div id="h-chart"></div>
    <div id="le-chart"></div>
    <div id="rn-g-chart"></div>
    <div id="temp-chart"></div>
    <div id="p-swc-chart"></div>
    <div id="other-chart"></div>
</div>
