﻿
@{
    ViewBag.Title = "Variables";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<style type="text/css">
    .vars td, .vars th {
        border: thin solid #c0c0c0;
        padding-top: 6pt;
        padding-bottom: 3px;
        text-indent: 0pt;
        text-align: center;
        width: 80px;
    }

    td:first-child {
        text-align: left;
        padding-left: 11pt;
        width: 400px;
    }
</style>

<h1>Variables</h1>
<h3>List of variables collected at the different ICOS sites (Class 1 and Class 2) for the different ecosystem types:</h3>
<p>
    Updated: 20161117
</p>
<table class="vars" style="border-collapse: collapse; width: 1170px;" cellspacing="0">
    <tbody>
        <tr>
            <th>Variable</th>
            <th>Forest</th>
            <th>Grassland</th>
            <th>Cropland</th>
            <th>Peatland</th>
            <th>Marine</th>
            <th>Lakes</th>
        </tr>
        <tr>
            <td>CO<sub>2</sub>, H<sub>2</sub>O and H fluxes (eddy covariance, including profile for storage)</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
        </tr>
        <tr>
            <td>CH<sub>4</sub> and N<sub>2</sub>O fluxes (eddy covariance, including profile for storage)</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Air H<sub>2</sub>O concentration</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Incoming, Outgoing and Net SW and LW radiations</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Incoming SW radiation (high quality)</td>
            <td>Fac</td>
            <td>Fac</td>
            <td>Fac</td>
            <td>Fac</td>
            <td>Fac</td>
            <td>Fac</td>
        </tr>
        <tr>
            <td>Incoming PPFD</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
        </tr>
        <tr>
            <td>PPFD below canopy + ground reflected</td>
            <td>Fac</td>
            <td>Fac</td>
            <td>Fac</td>
            <td>N.R.</td>
            <td>N.R.</td>
            <td>N.R.</td>
        </tr>
        <tr>
            <td>Outgoing PPFD</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>Fac</td>
            <td>Fac</td>
        </tr>
        <tr>
            <td>Diffuse PPFD and/or SW radiation</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>Fac</td>
            <td>Fac</td>
        </tr>
        <tr>
            <td>Spectral reflectance</td>
            <td>Fac</td>
            <td>Fac</td>
            <td>Fac</td>
            <td>Fac</td>
            <td>Fac</td>
            <td>Fac</td>
        </tr>
        <tr>
            <td>Soil Heat flux</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>N.R.</td>
            <td>N.R.</td>
        </tr>
        <tr>
            <td>Air Temperature and RH profile</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>Fac</td>
            <td>Fac</td>
        </tr>
        <tr>
            <td>Backup meteo station (TA, RH, SW_IN, precipitation)</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
        </tr>
        <tr>
            <td>Total high accuracy precipitation</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Rain precipitation</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
        </tr>
        <tr>
            <td>Snow precipitation</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Snow height</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>Fac</td>
            <td>Fac</td>
        </tr>
        <tr>
            <td>Soil Water Content profile</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>N.R.</td>
            <td>N.R.</td>
        </tr>
        <tr>
            <td>Soil Temperature profile</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>N.R.</td>
            <td>N.R.</td>
        </tr>
        <tr>
            <td>Air Pressure</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
        </tr>
        <tr>
            <td>Trunk and branches temperature</td>
            <td>Fac</td>
            <td>N.R.</td>
            <td>N.R.</td>
            <td>N.R.</td>
            <td>N.R.</td>
            <td>N.R.</td>
        </tr>
        <tr>
            <td>Groundwater level</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>N.R.</td>
            <td>N.R.</td>
        </tr>
        <tr>
            <td>Tree diameter (continuous)</td>
            <td>1</td>
            <td>N.R.</td>
            <td>N.R.</td>
            <td>N.R.</td>
            <td>N.R.</td>
            <td>N.R.</td>
        </tr>
        <tr>
            <td>Phenology-Camera</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>N.R.</td>
            <td>N.R.</td>
        </tr>
        <tr>
            <td>Soil CO<sub>2</sub> automatic chambers</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>CH<sub>4</sub> and N<sub>2</sub>O fluxes by automatic chambers</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Wind speed and wind direction (additional to 3D sonic)</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>GAI</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>N.R.</td>
            <td>N.R.</td>
        </tr>
        <tr>
            <td>Above Ground Biomass</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>N.R.</td>
            <td>N.R.</td>
        </tr>
        <tr>
            <td>Soil carbon content</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>N.R.</td>
            <td>N.R.</td>
        </tr>
        <tr>
            <td>Litterfall</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>N.R.</td>
            <td>N.R.</td>
        </tr>
        <tr>
            <td>Leaf nutrients content</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>N.R.</td>
            <td>N.R.</td>
        </tr>
        <tr>
            <td>Soil water N content</td>
            <td>Fac</td>
            <td>Fac</td>
            <td>Fac</td>
            <td>Fac</td>
            <td>N.R.</td>
            <td>N.R.</td>
        </tr>
        <tr>
            <td>DOC concentration</td>
            <td>Fac</td>
            <td>Fac</td>
            <td>Fac</td>
            <td>Fac</td>
            <td>N.R.</td>
            <td>N.R.</td>
        </tr>
        <tr>
            <td>C and N import/export by management</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>N.R.</td>
            <td>N.R.</td>
        </tr>
        <tr>
            <td>Oxygen and pCO<sub>2</sub>  surface concentration</td>
            <td>N.R.</td>
            <td>N.R.</td>
            <td>N.R.</td>
            <td>Fac</td>
            <td>2</td>
            <td>2</td>
        </tr>
        <tr>
            <td>Oxygen, pCO<sub>2</sub> and pN<sub>2</sub>O concentration profile</td>
            <td>N.R.</td>
            <td>N.R.</td>
            <td>N.R.</td>
            <td>Fac</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Salinity</td>
            <td>N.R.</td>
            <td>N.R.</td>
            <td>N.R.</td>
            <td>N.R.</td>
            <td>1 &amp; 2</td>
            <td>N.R.</td>
        </tr>
        <tr>
            <td>Wave properties</td>
            <td>N.R.</td>
            <td>N.R.</td>
            <td>N.R.</td>
            <td>N.R.</td>
            <td>Fac</td>
            <td>Fac</td>
        </tr>
        <tr>
            <td>Water temperature profile</td>
            <td>N.R.</td>
            <td>N.R.</td>
            <td>N.R.</td>
            <td>N.R.</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Management and distrurbances information</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
            <td>1 &amp; 2</td>
        </tr>
    </tbody>
</table>
