﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" id="dlgStruct" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title text-highlight" id="title">title</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2 col-md-offset-5"><img id="bodyLoader" src='~/images/loader_64.gif' alt="" /></div>
                </div>
            </div>
        </div>
    </div>
</div>
