﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<style>
    .dropdown:hover .dropdown-menu {
        display: block !important;
    }

    .dropdown-menu {
        margin: 0px;
        padding: 0px;
        border: 0;
    }

    .pimenu-item {
        color: #ffffff;
        background-color: #59c74f;
        padding: 3px;
        border: 1px solid #3CB030;
        font-size: 14px;
    }

    .pimenu-link {
        color: #ffffff;
        padding: 5px;
    }

    .navbar-nav > li > a {
        padding: 5px;
    }

    .pimenu-link:hover {
        background-color: #000000;
        padding: 5px;
    }

    .dropdown-menu > li > a, .pisubmenu-item > a {
        color: #ffffff !important;
        background-color: #404041;
        padding: 5px;
        font-size: 14px;
    }

        .dropdown-menu > li > a:hover, .pisubmenu-item > a:hover {
            color: #000000 !important;
        }
</style>
<span><br />Please select one of following variable group to edit or insert data:</span>
<div class="row">
    <div class="col-md-12" style="margin-left:-16px; margin-top:16px">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto" style="padding-left:0;">
                    <li class="pimenu-item active">
                        <a asp-controller="BADM" asp-action="Team" class="pimenu-link">TEAM MEMBER GROUP</a>
                    </li>
                    <li class="pimenu-item dropdown">
                        <span class="pimenu-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            STATION DESCRIPTION GROUPS
                        </span>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a asp-controller="LocationGroup" asp-action="Index" class="pimenu-link">LOCATION GROUP</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Utc","Pi")">UTC OFFSET</a>
                            </li>
                            <li>
                                <a href="@Url.Action("LandOwnership","Pi")">LAND OWNERSHIP</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Tower","Pi")">TOWER</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ClimateAverage","Pi")">CLIMATE AVERAGE</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Disturbance","Pi")">DISTURBANCE MANAGEMENT</a>
                            </li>
                        </ul>
                    </li>
                    <li class="pimenu-item active">
                        <a class="pimenu-link" href="@Url.Action("SamplingPlots","Pi")">SAMPLING PLOTS</a>
                    </li>
                    <li class="pimenu-item active">
                        <a class="pimenu-link" href="@Url.Action("FoliarSampling","Pi")">FOLIAR SAMPLING</a>
                    </li>
                    <li class="pimenu-item active">
                        <a class="pimenu-link" href="@Url.Action("SoilSampling","Pi")">SOIL SAMPLING</a>
                    </li>
                    <li class="pimenu-item active">
                        <a class="pimenu-link" href="@Url.Action("Dhp","Pi")">DHP IMAGES</a>
                    </li>
                    <li class="pimenu-item dropdown">
                        <span class="pimenu-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            GREEN AREA INDEX
                        </span>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a href="@Url.Action("GAI","Pi")">GAI</a>
                            </li>
                            <li>
                                <a href="@Url.Action("CEPT","Pi")">CEPT</a>
                            </li>
                            <li>
                                <a href="@Url.Action("BULK","Pi")">BULK</a>
                            </li>
                            <li><a href="@Url.Action("GAI","Pi")">GAI</a></li>
                            <li><a href="@Url.Action("CEPT","Pi")">CEPT</a></li>
                            <li><a href="@Url.Action("BULK","Pi")">BULK_H</a></li>
                        </ul>
                    </li>
                    <li class="pimenu-item active">
                        <a class="pimenu-link" href="@Url.Action("SPP","Pi")">SPP GROUP</a>
                    </li>
                    <li class="pimenu-item active">
                        <a class="pimenu-link" href="@Url.Action("Tree","Pi")">TREE GROUP</a>
                    </li>
                    <li class="pimenu-item active">
                        <a class="pimenu-link" href="@Url.Action("AGB","Pi")">AGB GROUP</a>
                    </li>
                    <li class="pimenu-item active">
                        <a class="pimenu-link" href="@Url.Action("Litter","Pi")">LITTER GROUP</a>
                    </li>
                    <li class="pimenu-item active">
                        <a class="pimenu-link" href="@Url.Action("InstrumentalModel","Pi")">INSTRUMENT MODEL GROUP</a>
                    </li>
                    <li class="pimenu-item dropdown">
                        <span class="pimenu-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            DATA RECORD GROUP
                        </span>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a href="@Url.Action("Logger","Pi")">LOGGER MODEL</a></li>
                            <li><a href="@Url.Action("FileModel","Pi")">FILE MODEL</a></li>
                        </ul>
                    </li>
                    <li class="pimenu-item dropdown">
                        <span class="pimenu-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            EC GROUP
                        </span>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a href="@Url.Action("EddyCovariance","Pi")">EDDY COVARIANCE</a></li>
                            <li><a href="@Url.Action("EcSystem","Pi")">EC SYSTEM</a></li>
                        </ul>
                    </li>
                    @*<li class="pimenu-item active">
                            <a class="pimenu-link" href="#">DATA RECORD GROUP</a>
                        </li>*@
                    <li class="pimenu-item active">
                        <a class="pimenu-link" href="@Url.Action("MeteoMes","Pi")">METEO MEAS. GROUP</a>
                    </li>
                    <li class="pimenu-item active">
                        <a class="pimenu-link" href="@Url.Action("StorageGroup","Pi")">STORAGE GROUP</a>
                    </li>
                </ul>

            </div>
            @*<form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>*@
        </nav>
    </div>
</div>