﻿<!DOCTYPE html>
<html>
<head>
    @RenderSection("AdditionalHead", false)
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Open+Sans:300,400,600" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/local_style.css" />
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
</head>
<body>
    <div class="header" id="header">
        <div class="tint-container" style="background-image: url(/Images/bg9.png)">
            <div class="tint -header"></div>
            <div class="container">    
                <div class="account ">
                    <section id="login" class="text-white "><partial name="_LoginPartial">  @*Html.Partial("_LoginPartial")*@</section>
                </div>            
                <a href="/Home">
                    <h1 class="logo">ICOS</h1>
                </a>
            </div>
        </div>

        <div class="fill-sub">
            <div class="container">
                <nav class="hidden-xs">
                    <ul class="inline-list">
                        <li class="inline-list-item"><a class="text-white nav-link -home @(@ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "-active" : "")" asp-action="Index" asp-controller="Home">Home</a></li>
                        <li class="inline-list-item"><a class="text-white nav-link @(@ViewContext.RouteData.Values["Action"].ToString() == "People" ? "-active" : "")" asp-action="People" asp-controller="Home">People & Structure</a></li>
                        <li class="inline-list-item"><a class="text-white nav-link @(@ViewContext.RouteData.Values["Action"].ToString() == "Documents" ? "-active" : "")" asp-action="Documents" asp-controller="Home">Documents</a></li>
                        <li class="inline-list-item"><a class="text-white nav-link @(@ViewContext.RouteData.Values["Action"].ToString().ToLower().IndexOf("workinggroup")>=0 ? "-active" : "")" asp-action="WorkingGroups" asp-controller="Home">Working Groups</a></li>
                        <li class="inline-list-item"><a class="text-white nav-link @(@ViewContext.RouteData.Values["Action"].ToString() == "Nrt" ? "-active" : "")" asp-action="Nrt" asp-controller="Home">NRT Data</a></li>
                        <li class="inline-list-item"><a href="http://gaia.agraria.unitus.it:802/forum/yaf_login.aspx" class="text-white nav-link" +>Forum</a></li>
                        <li class="inline-list-item">@Html.ActionLink("PI Area", "Dashboard", "PI", null, new { @class = "text-white nav-link" + (ViewContext.RouteData.Values["Action"].ToString() == "Dashboard" ? " -active" : "") })</li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
   
    <div id="main">
        <div class="bg-grad-white-bottomleft section">
            <div class="container">
                <div class="row clearfix">

                    @*@RenderSection("featured", required: false)
                    <section class="content-wrapper main-content clear-fix">*@
                        @RenderBody()
                    @*</section>*@

                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="fill-sub section">
            <div class="container">
                <div class="row clearfix">
                  
                    <div class="col-sm-6">
                        <h5 class="text-uppercase text-white">ICOS ETC</h5>
                        <p>
                            DIBAF University of Tuscia<br />
                            Largo dell'Università - Blocco D<br />
                            01100 - Viterbo<br />
                            Italy<br />
                       
                            <a class="text-highlight" href="mailto:info@icos-etc.eu">info@icos-etc.eu</a><br>
                            Tel: +390761357044
                        </p>
                    </div>
                    <div class="col-sm-3">
                        <h5 class="text-uppercase text-white">ICOS Central Facilities</h5>
                        <p>
                            <a href="mailto:database@unitus.it"> <span></span></a><a class="text-highlight" href="http://www.icos-ri.eu/" target="_blank"><span class="icon-arrow-right icon-highlight"></span>ICOS Head Office</a><br>
                            <span><a class="text-highlight" href="https://icos-atc-demo.lsce.ipsl.fr" target="_blank"><span class="icon-arrow-right icon-highlight"></span>The atmospheric Thematic Centre</a></span> <br>                            
                            <span><a class="text-highlight" href="http://www.icos-otc.eu/" target="_blank"><span class="icon-arrow-right icon-highlight"></span>The Ocean Thematic Centre</a></span><br />
                            <span><a class="text-highlight" href="http://www.icos-cal.eu/" target="_blank"><span class="icon-arrow-right icon-highlight"></span>The Central Analytical Laboratories</a></span>
                        </p>
                    </div>
                    <div class="col-sm-3" style="padding-right: 0px;">
                        <h5 class="text-uppercase text-white">Carbon Portal</h5>
                        <p><a class="button rounded fill-highlight" href="http://www.icos-cp.eu/">Visit Carbon Portal</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-color: rgb(255, 255, 255);">
            <div class="container">
                <div class="clearfix">
                    <p class="col-sm-12 text-small box">Copyright © ICOS Research Infrastructure &amp; European Research Infrastructure Consortium.</p>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript">
        $(function() {
            //inizializzazioni tooltip
           // $('[data-toggle="tooltip"]').tooltip();
        });

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
