﻿@if (ICOSCoreNew.DB.AccountDA.CurrentUserID != 0)
{
    <text>
        Hello, @(ICOSCoreNew.DB.AccountDA.CurrentUserName)!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()" style="color:white">Log off</a>
        }
    </text>
}