﻿@model ICOSCoreNew.Models.ViewModel.ICOSSitePiViewModel

    <div class="row">
        <div class="col-md-3" style="margin-left:15px">
            <h3>Select your site</h3>
            <select asp-for="SiteId" asp-items="Model.sitesPiList" class="form-control">
                <option value="">Select</option>
            </select>
            <input type="hidden" id="_hiddenSite" value="5" />
        </div>
    </div>