﻿@{
    Layout = null;
    SelectList allsites = ViewBag.sitemenu;
}
@model ICOSCore.Models.UI.SelectorVM

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("#Id_site").change(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("SetSite", "Pi")' + '?siteId=' + this.value,
                data: {},
                success: function (result) {
                   // alert(result);
                    //refreshGrid();
                    location.reload();
                },
                error: function () { alert('Error'); }
            });
        });
    });
</script>
<style>
    .siteselectorlabel
    { display:inline;}
</style>

<div class="row">
    <div class="col-md-12">
        <span>Select your site:</span>
        @*@Html.LabelFor(m => m.SiteList, new { @class="siteselectorlabel"})*@
        @*@Html.DropDownList("xpisitesmenu", Model.SiteList)*@
        <select asp-for="@Model.Id_site" >
            <option value="">Please select...</option>
            <options asp-items="@Model.SiteList" />
        </select>
        @*Html.DropDownListFor(m => m.Id_site, Model.SiteList)*@
    </div>
</div>
