﻿@model ICOSCore.Models.UI.SelectorVM


<h2>Site Selector</h2>
<div class="row">
    <div class="col-md-12">
        <span>Select your site:</span>
        <select asp-for="@Model" asp-items="@Model.SiteList">
            <option value="">Please select...</option>
        </select>
    </div>
</div>