﻿
@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>
<div class="row clearfix"></div>
<br />
<div class="col-md-12" style="margin-left:-10px">
    <p>
        This section is under construction and will be improved adding more and more tools for the PI and station staff. This will include a preview of the data received, news of interest for the station team, messages and deadlines for activities, links to the guidelines and all the ETC contact info.<br class="k-br" />
    </p>
    <p>
        The core tool available in this section is however the data submission service. This will be also improved in the next months with additional data types, more formal checks in order to ensure a correct data submission and more information. Some of the data are already being accepted, both in terms of files through the Upload Data service, and in terms of online editing and management of the BADM system information using the BADM Online Tool.<br />
        <br />
        It is also possible to upload BADM data by filling a relative template. Currently the final BADM are available to send data about the <strong>team description </strong>of the station team and the <strong>sampling scheme</strong>, which you can download from the links below.
    </p>
</div>
<div class="col-md-12" style="margin-left:-10px;">
    <h2 class="text-highlight">Actions</h2>
</div>
<div class="col-md-3" style="margin-left:-10px;">
    <a asp-controller="PI" asp-action="Fileupload" class="button rounded fill-highlight">Upload Data</a>
</div>
<!-- >div class="col-md-3" style="margin-left:-10px;">
    <a asp-controller="PI" asp-action="SiteSelector" class="button rounded fill-highlight">Site select</a>
</div -->
<div class="col-md-3">
    <a asp-controller="BADM" asp-action="Index" class="button rounded fill-highlight">BADM Online Tool</a>
</div>
<div class="col-md-3">
    <a asp-controller="PI" asp-action="Submittedfiles" class="button rounded fill-highlight">View Submitted Files</a>
</div>
<div class="col-md-3">
    <a asp-controller="PI" asp-action="Fieldbook" class="button rounded fill-highlight">Fieldbook</a>
</div>
