﻿@{
    ViewBag.Title = "Fieldbook";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

@model ICOSCoreNew.Models.ViewModel.ICOSSitePiViewModel

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">

<style>
    #dataTable img {
        height: 120px;
        width: auto;
        border: 1px solid #cccccc;
    }

    .dataTables_length {
        display: none;
    }
</style>

<div class="col-md-12">
    <h1>Station Field book</h1>
    <p>The Field Book is a tool to help ICOS Station Teams to keep organized and safety stored the notes that are generally collected and reported when the site is visited. The idea is to move from a classical paper field book to a more organized and easily shared (inside the team) system that allows not only to report text but also photos, sketches and audio files.</p>
    <p>There are two ways to enter items in the Field Book: the tools here below and the ICOS ETC Upkeep APP. Both the systems end up on the same database so items entered with one are also visible in the other interface. The only difference is that items can be deleted only in the web version (here) and then will disappear also from the APP as soon as synchronized.</p>
</div>
<partial name="_SiteSelectorPartial" model="Model" />

@using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="col-md-12" id="jsGrid">
        <hr />
        <h2 class="text-highlight">Field Book Items</h2>
        <table id="dataTable" class="display"></table>
        <hr />
    </div>

    <div class="col-md-12" id="additem">
        <h2 class="text-highlight">Add New Field Book Item</h2>
        <p>Select which type of item you want to add (text, image or audio). For images accepted formats are jpg and png. For audio file accepted formats are mp3 and 3gp (Android). Do not upload files larger than 10 Mb.</p>
        <select id="ddlType" name="ddlType">
            <option value="0">Please select</option>
            <option value="15">Text note</option>
            <option value="21">Audio file</option>
            <option value="22">Image file</option>
        </select>
    </div>
    <div class="col-md-12">
        <input type="text" id="textNote" name="textNote" required placeholder="Note title" /><br />
        <textarea id="note" name="note" maxlength="2000" rows="6" placeholder="Enter text"></textarea>
        <input type="file" id="files" name="files" /><br />
        <button id="buttonUpload" class="button rounded fill-highlight">Submit</button>
    </div>
}

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">File Upload report</h4>
            </div>
            <div class="modal-body">
                <p id="modal-text"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@section Scripts {

<environment names="Development">
    <script src="~/js/jsgrid/jsgrid.js"></script>
    <script src="~/js/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/js/Custom/dialog.manager.js"></script>
    <link href="~/css/DataTables/media/css/jquery.dataTables.min.css" rel="stylesheet" />
</environment>
<environment names="Staging,Production">
    <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
    <script src="~/js/d3.min.js" asp-file-version="true"></script>
</environment>

   
    <script type="text/javascript">
        var xch = "0";
        var choice = 0;
        var _selSite = "";
        var filesToUpload = [];
        var _idSite = $("#SiteId option:selected").val();

        $('#SiteId').on('change', function () {
            _idSite = this.value;
            console.log(_idSite);
            if (_idSite === "" || _idSite === undefined) {
                return;
            }
            $("#jsGrid").show();
            $("#additem").show();
            AjaxUpload(_idSite);
        });

        function AjaxUpload(sitePar) {
            $.ajax({
                /*xhr: function () {
                    var xhr = new window.XMLHttpRequest();
                    //Upload progress
                    xhr.upload.addEventListener("progress", function (evt) {
                        if (evt.lengthComputable) {
                            var percentComplete = Math.round((evt.loaded / evt.total) * 100);
                            //Do something with upload progress
                            var loadingTxt = "";
                            if (percentComplete < 100) {
                                loadingTxt = "Loading... " + percentComplete;
                            }
                            else {
                                loadingTxt = "Please wait";
                            }
                            $("#modal-text").html(loadingTxt);

                            $("#myModal").modal('show');
                        }
                    }, false);

                    return xhr;
                },
                */
                dataType: 'json',
                url: "GetFieldbookData",
                type: "GET",
                data: { id: sitePar },
                success: function (result) {
                    var table = $("#dataTable").DataTable({
                        destroy: true,
                        data: result,
                        columns: [
                            //{ data: 'id_fieldbook', title: 'ID' },
                            { data: 'ImportDate', title: 'Date', width: '12%' },
                            { data: 'SubmitterName', title: 'Submitter Name' },
                            { data: 'DataInfo', title: 'Title', width: '20%' },
                            { data: 'Content', title: 'Content' }

                        ]
                    });

                },
                error: function (richiesta, stato, errori) {
                    console.log(errori);
                }
            });
        }

        $(document).ready(function () {
            $("#textNote").hide();
            $("#files").hide();
            $("#note").hide();
            $("#buttonUpload").hide();
            $("#jsGrid").hide();
            $("#additem").hide();
        });

        $('#ddlType').change(function (e) {
            choice = parseInt(e.target.value);
            if (choice == 0) {
                $("#files").hide();
                $("#textNote").hide();
                $("#buttonUpload").hide();
                return;
            }
            if (choice == 15) {
                $("#note").show();
                $("#files").hide();
                $("#buttonUpload").show();
            }
            if (choice == 21) {
                $("#note").hide();
                $("#files").show();
                $("#buttonUpload").hide();
            }
            if (choice == 22) {
                $("#note").hide();
                $("#files").show();
                $("#buttonUpload").hide();
            }
            $("#textNote").show();

        });

        $('#files').change(function (e) {
            if (e.target.files.length == 0) {
                return;
            }
            _selSite = $("#SiteId option:selected").text();
            var filename = e.target.files[0].name;

            var dot = filename.lastIndexOf(".");
            var ext = filename.substring(dot + 1).toLowerCase();
            var subFilenameSite = filename.substr(0, 6);
            var current_size = 0;
            var max_size = 10000000;
            /* if (subFilenameSite != _selSite) {
                 $("#modal-text").html("Warning! The site prefix of uploaded filename " + subFilenameSite + " does not match the selected site " + _selSite + "<br />");
                 $("#myModal").modal('show');
                 $(this).val(null);
                 return;
             }*/
            if (choice == 22) {
                if (ext.indexOf("jpg") < 0 && ext.indexOf("png") < 0) {
                    $("#modal-text").html("Warning! Only jpg or png format allowed");
                    $("#myModal").modal('show');
                    $(this).val(null);
                    return;
                }
                else {
                    var current_size = $("#files")[0].files[0].size;
                    if (current_size > max_size) {
                        $("#modal-text").html("Warning! File size exceeds max size allowed");
                        $("#myModal").modal('show');
                        $(this).val(null);
                        return;
                    }

                }
                $("#buttonUpload").show();
            }
            if (choice == 21) {
                if (ext.indexOf("mp3") < 0 && ext.indexOf("3gp") < 0) {
                    $("#modal-text").html("Warning! Only mp3 or 3gp format allowed");
                    $("#myModal").modal('show');
                    $(this).val(null);
                    return;
                }
                else
                    var current_size = $("#files")[0].files[0].size;
                if (current_size > max_size) {
                    $("#modal-text").html("Warning! File size exceeds max size allowed");
                    $("#myModal").modal('show');
                    $(this).val(null);
                    return;
                }
                $("#buttonUpload").show();
            }
            filesToUpload.push({
                file: e.target.files[0]
            });
        });

        $("#buttonUpload").click(function (e) {
            e.preventDefault();
            if ($.trim($("#textNote").val()).length == 0) {
                $("#modal-text").html("Warning! Please enter a note title");
                $("#myModal").modal('show');
                return;
            }
            var note_info = $("#note").val();
            let fData = new FormData();
            for (i = 0; i < filesToUpload.length; i++) {
                fData.append('files', filesToUpload[i].file, filesToUpload[i].name);
            }
            fData.append('fileType', $("#ddlType option:selected").val());
            fData.append('data_info', $("#textNote").val());
            fData.append('site', $("#SiteId option:selected").text());
            fData.append('note_info', note_info);

            //return;
            $.ajax({
                xhr: function () {
                    var xhr = new window.XMLHttpRequest();
                    //Upload progress
                    xhr.upload.addEventListener("progress", function (evt) {
                        if (evt.lengthComputable) {
                            var percentComplete = Math.round((evt.loaded / evt.total) * 100);
                            //Do something with upload progress
                            var loadingTxt = "";
                            if (percentComplete < 100) {
                                loadingTxt = "Loading... " + percentComplete;
                            }
                            else {
                                loadingTxt = "Please wait";

                            }
                            $("#modal-text").html(loadingTxt);

                            $("#myModal").modal('show');
                        }
                    }, false);

                    return xhr;
                },

                url: '/pi/fbook/',
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: fData,
                success: function (data) {
                    $("#files").val(null);
                    $("#modal-text").html(data);
                    $("#myModal").modal('show');
                    $("#textNote").val("");
                    $("#note").val("");
                    $('#ddlType').val(0);
                    filesToUpload = [];
                    AjaxUpload(_idSite);
                },
                error: function (data) {
                    $("#modal-text").html("Error in uploading Fieldbook data. Please contact administration (info@icos-etc.eu)");
                    $("#files").val(null);
                    filesToUpload = [];
                }


            });
        });
    </script>
}