﻿@using ICOSCoreNew.Models.UI

@{
    ViewData["Title"] = "File Upload";
}
@model ICOSCoreNew.Models.ViewModel.ICOSSitePiViewModel
<div class="col-md-12">
    <h1>Upload page</h1>
    <p>In this section you can upload files to the ETC database. First select the site and then choose the type of file you are uploading.<br />As a general rule, filenames must always start with site code prefix (CC-###) that is assigned to your station. For most of the file types there are also naming rules to be respected, including the file extension.</p>
</div>
<partial name="_SiteSelectorPartial" model="Model" />
<div class="col-md-12" id="data-type">
    <br />

    <br />
    <label>Select data type</label>
    <select id="DropDownListTipo">
        <option value="0" selected>PLEASE SELECT</option>
        <option value="12">BADM</option>
        <option value="13">Target and/or Exclusion area (kml files)</option>
        <option value="14">Target and/or Exclusion area (shape files)</option>
        <option value="16">Field Map</option>
        <option value="17">Ceptometer Data</option>
        <option value="18">Header file</option>
        <option value="20">DHP images</option>
        <option value="22">Photos</option>
        <option value="19">Continuous data</option>
        <option value="23">Data file check</option>
        <option value="15">Other file</option>
    </select>
    <hr />
</div>
<div class="col-md-12" id="div-badm">
    <h2>BADM file upload</h2>
    <p>
        You have chosen to upload a BADM file. There are two different formats allowed (the standard Excel template that must have extension .xls(x) or the ASCII version that must have extension .csv), see the Instructions on using BADM for more details.
        Please select the file to be submitted (format will be automatically recognized from the extension)
    </p>
    <hr />
</div>
<div class="col-md-12" id="div-kml">
    <h2>Target/Exclusion Area file upload - .kml format</h2>
    <p>You have chosen to upload target or exclusion areas as .kml files: please select one or more files with .kml extension to be submitted. Note that the file naming convention reported in the Instructions must be followed.</p>
    <hr />
</div>
<div class="col-md-12" id="div-shape">
    <h2>Target/Exclusion Area file upload - shape format</h2>
    <p>You have chosen to upload target or exclusion areas as shape files. You must upload four different files (*.shp, *.shx, .dbf and .prj), all in a single zip file (.zip). Warning: if one of four files is missing the submission will be rejected. Note that the file naming convention reported in the Instructions must be followed.</p>
    <hr />
</div>
<div class="col-md-12" id="div-fm">
    <h2>Field Map (FM) files</h2>
    <p>You have chosen to upload a FM file: please select the .xls(x) file to be submitted.</p>
    <hr />
</div>
<div class="col-md-12" id="div-header">
    <h2>Header files</h2>
    <p>
        You have chosen to upload and Header file for continuous data: please refer to the Instruction on Fileformat for the specifications of the file structure and file naming convention. The header must be submitted before the related data are transferred and after that all the variables included are mapped using the BADMs.<br />
        Please, submit DHP file using the following format: <b>CC-###_[TT]HEADER_YYYYMMDDHHSS_L%%_F%%_.csv</b>, where [TT] may be BM, EC or ST. A valid file name is <b>BE-Lon_BMHEADER_201706150000_L02_F01.csv</b>.
        <br />Please select the .csv file to be submitted
    </p>
    <hr />
</div>
<div class="col-md-12" id="div-cepto">
    <h2>Ceptometer data</h2>
    <p>You have chosen to upload a Ceptometer data file: please select the file to be submitted.</p>
    <hr />
</div>
<div class="col-md-12" id="div-continuous">
    <h2>Continuous data (only Associated Stations)</h2>
    <p>You have chosen to upload Continuous data: please select the file to be submitted.</p>
    <hr />
</div>
<div class="col-md-12" id="div-other">
    <h2>Upload of other files</h2>
    <p>This type of file upload can be used only when defined in the Instructions or agreed with the ETC. The file name must always start with the site code (CC-###). When submitting files in this section it is mandatory to carefully fill in the Data Info section providing a description of file type and content.</p>
    <hr />
</div>
<div class="col-md-12" id="xDHP">
    <h2>DHP images</h2>
    <p>
        You have chosen to upload DHP images<br />Please, submit DHP file using the following format:
        <b>CC-###_DHP_S$_&&XX_L%%_YYYYMMDD.ext</b>
    </p>
    <ul>
        <li>$ is the DHP system identifier (DHP_ID), integer number from 1 to 9</li>
        <li>&& is either CP or SP</li>
        <li>XX is the CP or SP number (01 to 20)</li>
        <li>% is the location in the plot following the numbering we provided, integer number from 01 to 20</li>
    </ul><p>
        For example, correct names are <b>BE-Bra_DHP_S1_CP01_L01_20170824.raw, SE-HTM_DHP_S1_SP11_L02_20170825.NEF</b><br />For more information please refer to the Instruction on Ancillary Vegetation Measurements in Forest.
    </p>
    <hr />
</div>
<div class="col-md-12" id="div-image">
    <h2>Photos</h2>
    <p>Two different categories of photos can be uploaded: generic photos (of the infrastructure, the ecosystem, the measurements and activities etc.) or photos that are linked to specific sensors installed the the site. The photos can be either .jpg or .png and the file name must follow this structure:</p>
    <ul>
        <li>In case of generic photos: CC-###_PHO_%%_YYYYMMDD.ext, where %% is a numeric index starting from 01. A valid file name is for example BE-Lon_PHO_01_20170615.jpg</li>
        <li>In case of photos of sensors: CC-###_PHO_%%_[SEN]_[SN]_YYYYMMDD.ext, where %% is a numeric index starting from 01, [SEN] is the BADM INST(LIST_MODEL) string identifying the sensor and [SN] is its serial number. A valid file name is for example DE-HoH_PHO_01_GA_CP-LI-COR LI-7200RS_72H-0820_20170615.png</li>
    </ul>
</div>
<div class="col-md-12" id="raw-data">
    <h2>Data file check</h2>
    <p>This operation has the only purpose to verify the correctness of raw data format. A message will be shown reporting the result of test.</p>
</div>
<div class="col-md-12">
    <input type="file" id="files" name="files" multiple />
</div>

<div class="col-md-12" id="div_check">
    <h4>Identification of CPs as Exclusion Areas</h4>
    <p>
        It is possible that SP points are randomly selected inside the CPs. This is not a problem unless the PI evaluate that the reciprocal disturbance must be avoided. In this case the CP can be defined after the SP locations extraction or, in case the CP are already defined, they can be considered as exclusion areas.<br />
        <strong>In the latest case, CPs coordinates must be submitted first, either by web interface (<a href="http://www.icos-etc.eu/icos/pi-area/badm-view-ext">http://www.icos-etc.eu/icos/pi-area/badm-view-ext</a>) or by BADM template. In the second case you have to wait the report of the result of the BADM processing. If no error is detected, you may proceed with Target/Exclusion Area file upload and tick the checkbox here below.</strong>
    </p>
    @Html.CheckBox("sampleCheck")&nbsp;&nbsp;<b>YES</b>, I ask to treat the CPs as Exclusion Areas

    <hr />
</div>

<div class="col-md-12">
    <table class="table" id="ftoUpload">
        <tbody></tbody>
    </table>
    <button id="buttonUpload" class="button rounded fill-highlight">Upload</button>

</div>

<div class="col-md-12" id="formUpload">
    <form method="post" enctype="multipart/form-data" asp-controller="PI" asp-action="FileUpload">
        <div class="form-group">
            <div class="col-md-10">
                <p>Upload one or more files using this form:</p>
                <input type="file" name="files" multiple />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Upload" class="button rounded fill-highlight" />
            </div>
        </div>
    </form>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">File Upload report</h4>
            </div>
            <div class="modal-body">
                <p id="modal-text"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    /****CHECK RULES************/
    var filesToUpload = [];
    var obj = new Object();
    var data_choice = 0;
    var xch = "0";
    var badmReg = /^[a-zA-Z]{2}\-[a-zA-Z0-9]{3}_[0-9]{8}_(BADM)_[a-zA-Z0-9]{1,6}.[a-zA-Z]{3,4}$/;
    var reg = /^[a-zA-Z]{2}\-[a-zA-Z0-9]{3}_[a-zA-Z]{2}.[a-zA-Z]{3}$/;
    var regZip = /^[a-zA-Z]{2}\-[a-zA-Z0-9]{3}_(SD).(zip)$/;
    var reg1 = /^[a-zA-Z]{2}\-[a-zA-Z0-9]{3}_[a-zA-Z]{2}([0][1-9]|[1-9][0-9]|99).[a-zA-Z]{3}$/;
    var cpReg = /^[a-zA-Z]{2}\-[a-zA-Z0-9]{3}_[a-zA-Z]{2}([0][1-9]|[1][0-9]|20){2}.[a-zA-Z]{3}$/;
    var cepReg = /^[a-zA-Z]{2}\-[a-zA-Z0-9]{3}_(CEP|CEP_BELOW|CEP_ABOVE|CEP_COMP|CEP_COMP_BELOW|CEP_COMP_ABOVE)_[0-9]{8}.[a-zA-Z]{3,4}$/;
    var dhpReg = /^[a-zA-Z]{2}\-[a-zA-Z0-9]{3}_(DHP)_(S)[1-9]_(CP|SP)([0][1-9]|[1][0-9]|20)_(L)([0][1-9]|[1][0-9]|20)_[0-9]{8}.[a-zA-Z0-9]{3,4}$/;
    var dhpRegZip = /^[a-zA-Z]{2}\-[a-zA-Z0-9]{3}_(DHP)_(ZIP)([0][1-9]|[1][0-9]|20)_[0-9]{8}.[a-zA-Z0-9]{3,4}$/;
    var headerReg = /^[a-zA-Z]{2}\-[a-zA-Z0-9]{3}_(EC|ST|BM)HEADER_[0-9]{12}_(L)([0][1-9]|[1-9][0-9]|99)_(F)([0][1-9]|[1-9][0-9]|99)(.csv)$/;
    var fmReg = /^[a-zA-Z]{2}\-[a-zA-Z0-9]{3}_(FM|FM_SiteChar).(xls|xlsx)$/;
    var imgReg = /^[a-zA-Z]{2}\-[a-zA-Z0-9]{3}_(PHO)_([0][1-9]|[1][0-9]|20)_[0-9]{8}.[a-zA-Z0-9]{3,4}$/;
    var imgSensor = /^[a-zA-Z]{2}\-[a-zA-Z0-9]{3}_(PHO)_([0][1-9]|[1][0-9]|20)_[A-Za-z0-9\-\_\s]{3,100}_[0-9]{8}.[a-zA-Z0-9]{3,4}$/;
    var ecReg = /^[a-zA-Z]{2}\-[a-zA-Z0-9]{3}_(EC)_[0-9]{12}_(L)([0][1-9]|[1-9][0-9]|99)_(F)([0][1-9]|[1-9][0-9]|99).[a-zA-Z0-9]{3,4}$/;
    var bmstReg = /^[a-zA-Z]{2}\-[a-zA-Z0-9]{3}_(BM|ST)_[0-9]{8}_(L)([0][1-9]|[1-9][0-9]|99)_(F)([0][1-9]|[1-9][0-9]|99).[a-zA-Z0-9]{3,4}$/;
    var kmlReg = /^[a-zA-Z]{2}\-[a-zA-Z0-9]{3}_(TA|LCT([0][1-9]|[1-9][0-9]|99)|(EA([0][1-9]|[1-9][0-9]|99)))(.kml)$/;
    var _selSite = "";
    var _selType = 0;
    var counter = 1;
    var current_size = 0;
    var max_size = 314572800;
    /***************************/

    $(document).ready(function () {

        hideAll();
        var _hid = $("#_hiddenSite").val();
        console.log("_PARENT_" + _hid);

        $(document).on("click", "a.remove", function () {
            var c = $(this).parent().parent().children().attr('id');
            var content = $("#" + c).html();
            for (var i = 0; i < filesToUpload.length; ++i) {
                if (filesToUpload[i].file.name == content) {
                    filesToUpload.splice(i, 1);
                }
            }
            $(this).parent().parent().remove();
        });
       
    });

    $("#SiteId").change(function () {
        $("#_hiddenSite").val($("#SiteId").val());

        console.log($("#SiteId").val());
        console.log("hh " + $("#_hiddenSite").val());

        let _sid = $("#SiteId").val();
        if (_sid !== "") {
            $("#data-type").show();
        }
        else {
            $("#data-type").hide();
        }
    });

    //////////////////////
    $('#DropDownListTipo').change(function (e) {

        hideAll();

        choice = parseInt(e.target.value);
        if (choice == 12) {
            $("#div-badm").show();
        }
        if (choice == 20) {
            $("#xDHP").show();
        }
        if (choice == 13) {
            $("#div_check").show();
            $("#div-kml").show();
        }
        if (choice == 14) {
            $("#div_check").show();
            $("#div-shape").show();
        }
        if (choice == 16) {
            $("#div-fm").show();
        }
        if (choice == 17) {
            $("#div-cepto").show();
        }
        if (choice == 15) {
            $("#div-other").show();
            $("#data-info").show();
        }
        if (choice == 18) {
            $("#div-header").show();
        }
        if (choice == 19) {
            $("#div-continuous").show();
        }
        if (choice == 22) {
            $("#div-image").show();
        }
        if (choice == 23) {
            $("#raw-data").show();
        }
        $("#data-type").show();
        $("#files").show();
    });
    /**********/
    $('#files').change(function (e) {
        _selSite = $("#SiteId option:selected").text();
        console.log(_selSite);
        console.log(choice);
        for (i = 0; i < e.target.files.length; i++) {
            var dot = e.target.files[i].name.lastIndexOf(".");
            var ext = e.target.files[i].name.substring(dot + 1);
            var filename = e.target.files[i].name;
            var subFilenameSite = e.target.files[i].name.substr(0, 6);
            console.log(subFilenameSite);
            if (subFilenameSite != _selSite) {
                $("#modal-text").html("Warning! The site prefix of uploaded filename " + subFilenameSite + " does not match the selected site " + _selSite + "<br />");
                $("#myModal").modal('show');
                $(this).val(null);
                return;
            }
            if (choice == 12) {
                //BADM: check extension, xlsx or csv
                if (ext.indexOf("xls") < 0 && ext.indexOf("csv") < 0) {
                    $("#modal-text").html("Warning! You must select only BADM xls(x) or csv fies");
                    $("#myModal").modal('show');
                    $(this).val(null);
                    return;
                }
                if (!badmReg.test(filename)) {
                    $("#modal-text").html("Warning! The uploaded filename does not match the correct filename format");
                    $("#myModal").modal('show');
                    $(this).val(null);
                    return;
                }
            }
            if (choice == 13) {
                if (ext.toLowerCase() != "kml") {

                    $("#modal-text").html("Warning! You must select only kml fies");
                    $("#myModal").modal('show');
                    $(this).val(null);
                    return;
                }

                if (reg.test(filename) == true) {
                    //alert("ta");
                    var areaType = filename.substr(7, 2);
                    if (areaType.toLowerCase() != "ta") {
                        $("#modal-text").html("Warning! The uploaded filename does not match the correct Target Area format [XX-yyy_TA.zzz]");
                        $("#myModal").modal('show');
                        $(this).val(null);
                        return;

                    }
                }
                else {
                    if (reg1.test(filename) == true) {
                        // alert("ea");
                        var areaType = filename.substr(7, 2);
                        // alert(areaType);
                        if (areaType.toLowerCase() != "ea") {
                            $("#modal-text").html("Warning! The uploaded filename does not match the correct Exclusion Area format [XX-yyy_EAdd.zzz]");
                            $("#myModal").modal('show');
                            $(this).val(null);
                            return;

                        }
                        else {
                            var areaNum = filename.substr(9, 2);
                            //  alert(areaNum);
                            var _ta = parseInt(areaNum);
                            if (_ta <= 0 || _ta > 20) {
                                $("#modal-text").html("Warning! The Exclusion Area index must range from 01 to 20");
                                $("#myModal").modal('show');
                                $(this).val(null);
                                return;
                            }
                        }
                    }
                    else {
                        $("#modal-text").html("Warning! The uploaded filename does not match the correct format");
                        $("#myModal").modal('show');
                        $(this).val(null);
                        return;
                    }
                }

            }
            if (choice == 14) {
                if (ext != "zip") {
                    $("#modal-text").html("Warning! You must select only zip fies");
                    $("#myModal").modal('show');
                    $(this).val(null);
                    return;
                }
                if (!regZip.test(filename)) {
                    $("#modal-text").html("Warning! The uploaded filename does not match the correct filename format [XX-yyy_SD.zip]");
                    $("#myModal").modal('show');
                    $(this).val(null);
                    return;
                }

            }
            //FIELD MAP
            if (choice == 16) {
                if (!fmReg.test(filename)) {
                    $("#modal-text").html("Warning! The uploaded filename does not match the correct Field Map format [XX-yyy_FM[_SiteChar].zzz]");
                    $("#myModal").modal('show');
                    $(this).val(null);
                    return;
                }

            }
            //CEPTOMETER
            if (choice == 17) {
                if (ext.toLowerCase() == "klm") {

                    $("#modal-text").html("Warning! Kml is not a valid extension!");
                    $("#myModal").modal('show');
                    $(this).val(null);;
                    return;
                }
                if (cepReg.test(filename) == false) {
                    $("#modal-text").html("Warning! Ceptometer file name has a wrong format!");
                    $("#myModal").modal('show');
                    $(this).val(null);
                    return;
                }
            }
            //HEADER
            if (choice == 18) {
                if (ext.indexOf("csv") < 0) {
                    $("#modal-text").html("Warning! Header files must have csv extension.");
                    $("#myModal").modal('show');
                    $(this).val(null);
                    return;
                }
                if (headerReg.test(filename) == false) {
                    $("#modal-text").html("Warning! Header file name has a wrong format");
                    $("#myModal").modal('show');
                    $(this).val(null);
                    return;
                }
            }
            //Continuous data
            if (choice == 19) {
                //no particular check ...
            }

            if (choice == 20) {
                //DHP
                if ((dhpReg.test(e.target.files[i].name) == false) && (dhpRegZip.test(e.target.files[i].name) == false)) {

                    $("#modal-text").html("Warning! DHP file name has a wrong format!<br />Please enter a file like BE-Bra_DHP_S1_CP01_L01_20170824.raw");
                    $("#myModal").modal('show');
                    return;
                }
            }

            if (choice == 22) {
                //general image
                if (!imgReg.test(filename) && !imgSensor.test(filename)) {

                    $("#modal-text").html("Warning! The uploaded image name does not match the correct format");
                    $("#myModal").modal('show');
                    return;
                }
            }

            if (choice == 23) {
                //raw data check
                if ((ecReg.test(filename) == false) && (bmstReg.test(filename) == false)) {

                    $("#modal-text").html("Warning! Subimtted file name has a wrong format!");
                    $("#myModal").modal('show');
                    return;
                }
            }

            current_size += e.target.files[i].size;
            if (current_size > max_size) {
                $("#modal-text").html("Warning! The file size exceeds maximum size (300MB)");
                $("#myModal").modal('show');
                current_size -= e.target.files[i].size;
                e.target.files[i].size = 0;

                //item = null;
                return;
            }

            $("#buttonUpload").show();

            filesToUpload.push({
                file: e.target.files[i]
            });
            //filesToUpload.push(fileName);
            $("#ftoUpload tbody").append("<tr><td id='td_" + i + "'>" + e.target.files[i].name + "</td><td></td><td><a href='javascript:void(0);' class='remove'>Remove</a></td></tr>");

        }
    });
    /*********/

    $("#buttonUpload").click(function (e) {
        e.preventDefault();
        // console.log(filesToUpload);
        var data_info = "";
        if (choice == 15) {
            data_info = $("#data-info").val();
            if ($.trim(data_info).length == 0) {
                $("#modal-text").html("Warning! It is mandatory to specify information for this selection.");
                $("#myModal").modal('show');
                return;
            }
            else if ($.trim(data_info).length > 500) {
                $("#modal-text").html("Warning! Information must not be longer than 500 characters.");
                $("#myModal").modal('show');
                return;
            }
        }
        var fData = new FormData();
        for (i = 0; i < filesToUpload.length; i++) {
            fData.append('files', filesToUpload[i].file, filesToUpload[i].name);
        }
        console.log($("#DropDownListTipo option:selected").val());
        fData.append('fileType', $("#DropDownListTipo option:selected").val());
        fData.append('site', _selSite);
        fData.append('dataInfo', data_info);
        fData.append('sampleCheck', $('#sampleCheck').is(":checked"));
        console.log(fData);
        //return;

        $.ajax({
            xhr: function () {
                var xhr = new window.XMLHttpRequest();
                //Upload progress
                xhr.upload.addEventListener("progress", function (evt) {
                    if (evt.lengthComputable) {
                        var percentComplete = Math.round((evt.loaded / evt.total) * 100);
                        //Do something with upload progress
                        var loadingTxt = "";
                        if (percentComplete < 100) {
                            loadingTxt = "Loading... " + percentComplete;
                        }
                        else {
                            loadingTxt = "Please wait";
                        }
                        $("#modal-text").html(loadingTxt);

                        $("#myModal").modal('show');
                    }
                }, false);

                return xhr;
            },

            url: '/pi/save/',
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: fData,
            success: function (data) {
                $("#ftoUpload tr").remove();
                //alert("DONE");
                $("#files").val(null);
                $("#modal-text").html(data);
                $("#myModal").modal('show');
                hideAll();
                $("#data-type").show();
                $("#DropDownListTipo").val(0);
                filesToUpload = [];
            },
            error: function (data) {
                $("#files").val(null);
                hideAll();
                $("#data-type").show();
                $("#DropDownListTipo").val(0);
                filesToUpload = [];
                return false;
            }

        });
    });
    /*********/
    function hideAll() {

        $("#formUpload").hide();
        $("#data-type").hide();
        $("#files").hide();
        $("#buttonUpload").hide();

        $("#div-badm").hide();
        $("#div_check").hide();

        $("#div-kml").hide();
        $("#div-shape").hide();
        $("#div-fm").hide();
        $("#div-header").hide();
        $("#div-cepto").hide();
        $("#div-other").hide();
        $("#xDHP").hide();
        $("#div-image").hide();
        $("#data-info").hide();
        $("#div-continuous").hide();
        $("#raw-data").hide();
    }
</script>
