﻿
@{
    ViewBag.Title = "Submitted files";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";

}
@model ICOSCoreNew.Models.ViewModel.ICOSSitePiViewModel
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
<h1>SUBMITTED FILES</h1>
<div class="row">
    <div class="col-md-12">
        <p>
            In this page you may find the list of submitted files. You can check the status of operations (processing in progress, file processed and imported, errors occurred etc.)
            You may download every single file or export the list in csv format.
        </p>
        <p>Please, select a site:</p>
        <partial name="_SiteSelectorPartial" model="Model" />
        <table id="example" class="display"></table>
    </div>
</div>

<script>
    window.downloadFile = function (sUrl) {
        console.log(sUrl);
        //iOS devices do not support downloading. We have to inform user about this.
        if (/(iP)/g.test(navigator.userAgent)) {
            alert('Your device do not support files downloading. Please try again in desktop browser.');
            return false;
        }

        //If in Chrome or Safari - download via virtual link click
        if (window.downloadFile.isChrome || window.downloadFile.isSafari) {
            //Creating new link node.
            var link = document.createElement('a');
            link.href = sUrl;
            link.target = "_blank";

            if (link.download !== undefined) {
                //Set HTML5 download attribute. This will prevent file from opening if supported.
                var fileName = sUrl.substring(sUrl.lastIndexOf('/') + 1, sUrl.length);
                link.download = fileName;
            }

            //Dispatching click event.
            if (document.createEvent) {
                var e = document.createEvent('MouseEvents');
                e.initEvent('click', true, true);
                link.dispatchEvent(e);
                return true;
            }
        }

        // Force file download (whether supported by server).
        var query = '?download';

        window.open(sUrl + query, '_self');
    }

    window.downloadFile.isChrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
    window.downloadFile.isSafari = navigator.userAgent.toLowerCase().indexOf('safari') > -1;



    function downloadSubmittedFile(ID) {

        $.ajax({
            type: 'GET',
            url: '/PI/DownloadSubmittedFile',
            contentType: "application/json; charset=utf-8",
            data: { ID: ID },
            success: function (data) {
                if (data != "")
                    downloadFile(data);
            }
        });
    }
</script>
@section scripts{
<environment names="Development">
    <script src="~/js/jsgrid/jsgrid.js"></script>
    <script src="~/js/Custom/dialog.manager.js"></script>
    <link href="~/css/DataTables/media/css/jquery.dataTables.min.css" rel="stylesheet" />
</environment>
    <environment names="Staging,Production">
        <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="~/js/d3.min.js" asp-file-version="true"></script>
    </environment>


    @*Scripts.Render(


    "~/Scripts/jquery-1.12.4.min.js",
    "~/Scripts/moment.js",
    "~/Scripts/moment-with-locales.js",
    "~/Scripts/bootstrap-datetimepicker.js",

    "~/Scripts/Common/datepicker.js",


    "~/Scripts/Custom/person.jsgrid.rangenumber.js",
    "~/Scripts/jsgrid/jsgrid.js",
    "~/Scripts/Custom/person.dialog.js",
    "~/Scripts/Custom/person.manager.js",

    )*@

    <script>

        $("#SiteId").change(function () {
            var siteid = $("#SiteId").val();

            if ($.fn.DataTable.isDataTable("#example")) {
                $('#example').DataTable().clear().destroy();
            }

            $.ajax({
                type: "GET",
                url: "/PI/GetSubmittedFilesForSite",
                data: { siteid: siteid },
                contentType: "application/json; charset=utf-8",
                success: function (dataSet, status) {
                    var table = $('#example').DataTable({

                        data: dataSet,
                        columns: [
                            { data: 'OriginalName', title: 'File Name' },
                            { data: 'FileType', title: 'File Type' },
                            { data: 'SumissionDate', title: 'Submission Date' },//, type: 'datetime', def: function () { return new Date(); }, format: 'DD/MM/YYYY' },
                            { data: 'Submitter', title: 'Submitter' },
                            { data: 'Status', title: 'Status' },
                            { data: 'Link', title: 'Download' }
                        ]
                    });
                }
            });
        });

    </script>
}


