﻿@{
    ViewBag.Title = "ICOS ETC - Documents";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h1>Documents</h1>
    <p>This section gives access to all the documents, templates and material needed to establish and run an ICOS station and to document for the users how the ICOS stations are operated. The &ldquo;Instructions and guidelines&rdquo; section provides access to the Instruction documents where the step-by-step description of the ICOS measurements are described in details. The Instructions are technical documents based on the protocols established by the community in the context of the ICOS Ecosystem Working groups. In addition to the Instructions other guidelines documents are also distributed. In the Templates section it is possible to find the ICOSBADM, templates based on the BADM structure and used in the context of ICOS. These templates are used and imported only in the context of ICOS. The Variables page is instead designed to describe the variables measured in ICOS in the different stations.</p>
    <p><strong><span style="color: #ff0000;">NOTE: this section is currently under construction</span></strong></p>
    <div class="col-md-3">

        <a class="button rounded fill-highlight" href="@Url.Action("InstructionsList","Home")">Instructions and Guidelines</a>
    </div>
    <div class="col-md-3">
        <a class="button rounded fill-highlight" href="@Url.Action("Templates","Home")">Templates</a>
    </div>
    <div class="col-md-3">
        <a class="button rounded fill-highlight" href="@Url.Action("Variables","Home")">Variables</a>
    </div>
</body>
</html>


<h2>Index</h2>

