/*! normalize.css v1.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/**
 * Address margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Address styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address margins set differently in IE 6/7.
 */
p,
pre {
  margin: 1em 0;
}
/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/**
 * Address CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none;
}
/**
 * Address `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/**
 * Address paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}
/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}
/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*!
 * Bootstrap v3.1.1 (http://getbootstrap.com)
 * Copyright 2011-2014 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: 0%;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: 0%;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: 0%;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: 0%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: 0%;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: 0%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1-5 {
    margin-left: 12.5%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: 0%;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: 0%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
html,
button,
input,
select,
textarea {
  color: #404041;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.font-serif {
  font-family: 'Droid Serif', serif;
}
.font-sansserif {
  font-family: 'Open Sans', sans-serif;
}
html {
  font-size: 0.9em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
img {
  /*width: 100%;*/
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
p {
  margin: 15px 0;
}
.styled-select {
  overflow: hidden;
  background: url(img/select_arrow.svg) no-repeat right #ffffff;
  background-size: 30px;
  border: 1px solid #ffffff;
}
.styled-select select {
  background: transparent;
  width: 110%;
  padding: 15px;
  line-height: 1.2;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
}
/* ==============================
    Custom Fonts
    ============================= */
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?9g0tew');
  src: url('fonts/icomoon.eot?#iefix9g0tew') format('embedded-opentype'), url('fonts/icomoon.woff?9g0tew') format('woff'), url('fonts/icomoon.ttf?9g0tew') format('truetype'), url('fonts/icomoon.svg?9g0tew#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 0.2em;
  font-size: 80%;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"],
[class*=" icon-"] {
  margin-right: 0.2em;
}
.icon-bullet:before {
  content: "\e600";
}
.icon-arrow-right:before {
  content: "\e601";
}
.icon-arrow-down:before {
  content: "\e602";
}
.icon-arrow-hollow:before {
  content: "\e603";
}
.list-icon {
  padding-left: 30px;
  position: relative;
}
.list-icon:before {
  position: absolute;
  left: 0;
  top: 8px;
}
.zebra-list-item {
  padding: 5px 10px;
}
.zebra-list-item.-even {
  background: transparent;
}
.zebra-list-item.-odd {
  background: #f1f1f2;
}
/* ==========================================================================
   Basic styles
   ========================================================================== */
body {
  color: #404041;
}
/*===========================================================================
  Lists
  ===========================================================================*/
.unstyled-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.inline-list,
.inline-list-item {
  padding: 0;
  margin: 0;
  list-style: none;
}
.inline-list-item {
  display: inline-block;
}
.inline-list-link {
  display: inline-block;
}
/*===========================================================================
  Dictionary
  ===========================================================================*/
dt {
  min-width: 70px;
  vertical-align: top;
}
dd {
  vertical-align: top;
}
.dictionary-row {
  margin-bottom: 30px;
}
/*===========================================================================
  Borders
  ===========================================================================*/
hr,
.bordered {
  margin-bottom: 15px;
  border-top: none;
  background: url(../Images/dotted_line.png) repeat-x bottom center;
}
.bordered {
  padding-bottom: 10px;
}
/*===========================================================================
  Buttons & links
  ===========================================================================*/
a,
a:hover {
  color: #0995ef;
  text-decoration: none;
  cursor: pointer;
}
button,
.button {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 90%;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
button {
  width: 100%;
}
button:hover,
.button:hover {
  text-decoration: none;
}
button.-standalone,
.button.-standalone {
  margin: 60px 0;
}
.round {
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
.rounded {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/*===========================================================================
  Tints
  ===========================================================================*/
.tint-container {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.tint {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(9, 149, 239, 0.5);
}
.tint.-sub {
  background: rgba(64, 64, 65, 0.5);
}
.tint.-highlight {
  background: rgba(89, 199, 79, 0.5);
}
.tint.-additional {
  background: rgba(229, 49, 99, 0.5);
}
.tint.-header {
  /*background: rgba(9, 149, 239, 0.5);*/
  background-color: rgba(89, 199, 79, 0.5);
}
.tint.-main {
  background: rgba(9, 149, 239, 0.5);
}
/*===========================================================================
  Header
  ===========================================================================*/
.header-container {
  position: relative;
}
.logo {
  /*margin: 0;
  padding: 60px 0;
  background: url(img/logo.png) no-repeat 0 center;
  width: 171px;
  height: 80px;
  text-indent: -9999px;
  position: relative;
  z-index: 10;*/
  
   margin: 0;
  padding: 20px 0;
  margin-left:-42px;
  background: url(../img/logo.svg) no-repeat 0 center;
  background-size: 250px; 
  width: 371px;
  /*width: 171px;*/
  height: 140px;
  text-indent: -9999px;
  position: relative;
  z-index: 10;
}
/*===========================================================================
  Navigation
  ===========================================================================*/
.nav-link {
  display: block;
  padding: 25px 10px;
  position: relative;
  
  background-color: #404041;
  width:1170px;
    margin-left:auto;
    margin-right: auto;
}
.sf_colsIn {background-color: #404041;}
#main .sf_colsIn, #main .sf_cols
{
    background: #f1f1f2;
  background: -moz-linear-gradient(45deg, #ffffff 0%, #f1f1f2 75%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #ffffff), color-stop(75%, #f1f1f2));
  background: -webkit-linear-gradient(45deg, #ffffff 0%, #f1f1f2 75%);
  background: -o-linear-gradient(45deg, #ffffff 0%, #f1f1f2 75%);
  background: -ms-linear-gradient(45deg, #ffffff 0%, #f1f1f2 75%);
  background: linear-gradient(45deg, #ffffff 0%, #f1f1f2 75%);
    }
.nav-link a
{
    color: #ffffff;
    
    padding-bottom: 26px;
padding-left: 10px;
padding-right: 10px;
padding-top: 25px;
font-size: 15px;
}
.nav-link a:hover
{
    color:rgb(140, 222, 77);
    }
.nav-link .sfSel {
  /*background: #0995ef;*/
  color: #ffffff;
  background-color: rgb(89, 199, 79);
  font-weight:normal !important;
}
.nav-link .aHome {
  /*background: url(img/icon_home.png) no-repeat 0 0 #0995ef;*/
  /*background: url(img/icon_home_active.png) no-repeat 0 0 #59c74f;*/
  text-indent: -9999px;
  width: 40px;
  height: 40px;
  /*padding-top: 10px;
  padding-bottom:10px;*/
  padding:0;
  margin:0;
  margin-right: 20px;
  /*background-color: #59c74f;*/
}
.Home img
{width: 40px;height: 40px;margin-top:-20px;margin-bottom:-20px;margin-left:-18px;margin-right:20px;}
.nav-link .aHome .-active {
  background-image: url(img/icon_home_active.png);
}
.nav-link.-search {
  background: url(img/icon_search.svg) no-repeat center 45%;
  text-indent: -9999px;
  width: 40px;
}
.nav-arrow {
  content: "";
  display: block;
  width: 21px;
  height: 10px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  z-index: 10;
}
.nav-arrow-colour {
  /*fill: #0995ef;*/
  fill:rgb(89, 199, 79);
}
.subnav-link {
  padding: 5px 10px;
}
/*===========================================================================
  Boxes
  ===========================================================================*/
footer .section {
  padding: 60px 0;
}
.section {
  padding: 30px 0;
  padding-top:0;
}
.section.-header {
  padding: 0 0 60px;
}
.box {
  padding: 15px;
  margin: 15px 0;
}
.box.-double {
  padding: 30px;
}
.box.-doublemargin {
  margin: 30px 0;
}
.box.-hero {
  padding: 60px;
}
.box.-has-header {
  margin-top: 0;
}
.box-margin {
  margin-top: 15px;
  margin-bottom: 15px;
}
.box-doublemargin {
  margin-top: 30px;
  margin-bottom: 30px;
}
.box-padding {
  padding: 15px;
}
.box-doublepadding {
  padding: 30px;
}
.header-box {
  padding: 10px 15px;
}
.header-box.-double {
  padding: 15px 30px;
}
.box-icon {
  min-height: 250px;
  background-position: center center;
  background-repeat: no-repeat;
}
.box-icon.-flip {
  min-height: 0;
  height: 100%;
}
.box-icon.-map {
  background-image: url(img/icon_map.svg);
  background-size: auto 33%;
}
.box-icon.-globe {
  background-image: url(img/icon_globe.svg);
  background-size: auto 33%;
}
.box-icon.-cloud {
  background-image: url(img/icon_cloud.svg);
  background-size: auto 33%;
}
.box-icon.-leaf {
  background-image: url(img/icon_leaf.svg);
  background-size: auto 33%;
}
.box-icon.-waves {
  background-image: url(img/icon_wave.svg);
  background-size: auto 33%;
}
.box-icon.-database {
  background-image: url(img/icon_database.svg);
  background-size: auto 33%;
}
.box-icon.-graph {
  background-image: url(img/icon_graph.svg);
  background-size: auto 33%;
}
.-inline {
  display: inline-block;
}
.graph-holder {
  position: relative;
  width: 160px;
  height: 160px;
  margin: 20px auto;
}
.graph-lable {
  position: absolute;
  top: 10px;
  text-align: center;
  font-size: 300%;
  width: 100%;
}
/*===========================================================================
  Full height columns
  ===========================================================================*/
.full-column-container {
  overflow-y: hidden;
}
.full-column {
  margin-bottom: -2000px;
  padding-bottom: 2000px;
}
.full-column.box {
  margin-bottom: -1975px;
  padding-bottom: 2000px;
}
/*===========================================================================
  *Tagged Image
  ===========================================================================*/
.tagged-section {
  position: relative;
  margin-top: 5px;
}
.tagged-section-tag {
  position: absolute;
  top: -5px;
  right: 10px;
  background: url(img/vid_tag.svg) no-repeat 0 0;
  width: 70px;
  height: 70px;
  line-height: 65px;
  margin: 0;
  text-align: center;
  color: #ffffff;
  padding-right: 7px;
  font-size: 140%;
}
/*===========================================================================
  *Front page Calendar
  ===========================================================================*/
.calendar-margin-top {
  margin-top: 60px;
}
.vertical-calendar {
  position: relative;
}
.events {
  background: url(img/scale.png) repeat-y 66.66% top;
}
.scale {
  top: 0;
  right: 0;
  border-left: 1px solid #c6c8ca;
}
.scale-date-holder {
  background: url(img/date.png) no-repeat left center;
}
.scale-date {
  padding: 20px 0 20px 20px;
}
.calendar-info {
  padding-right: 10px;
  background: url(img/date_scale_blue.png) no-repeat right 25px;
}
.calendar-info.highlight {
  padding-right: 10px;
  background: url(img/date_scale_green.png) no-repeat right 25px;
}
.calendar-info-box {
  padding: 15px;
}
/*===========================================================================
  *Front page Calendar
  ===========================================================================*/
.map {
  min-height: 150px;
  position: relative;
  margin-bottom: 15px;
}
.map.-legend {
  padding-bottom: 50px;
}
.map-footer {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
}
.footer-icon {
  height: 26px;
  line-height: 26px;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-right: 30px;
}
.footer-icon.-tower {
  background-image: url(img/map_tower.png);
}
.footer-icon.-circle {
  background-image: url(img/map_circle.png);
}
/*===========================================================================
  Text Layout
  ===========================================================================*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
h1,
.text-title-main {
  font-size: 370%;
  line-height: 1.2;
  margin-top: 60px;
/*  color: #0995ef;*/
color:#59c74f;
  text-transform: uppercase;
  font-weight: 300;
}
h2,
.text-title-sub {
  color: #626366;
  font-size: 220%;
  margin: 20px 0;
}
h3,
.text-title-box {
  color: #626366;
  font-size: 180%;
  margin: 5px 0;
}
h4 {
  color: #626366;
  font-size: 140%;
  margin: 3px 0;
}
h5,
.text-title {
  color: #626366;
  margin: 3px 0;
  font-size: 110%;
}
h6 {
  color: #626366;
  margin: 3px 0;
  font-size: 100%;
}
.sub-title {
  margin: 25px 0;
}
.text-centered {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-small {
  font-size: 90%;
}
.text-large {
  font-size: 150%;
}
.text-normal {
  font-size: 100%;
}
.margin-top-none {
  margin-top: 0;
}
.padding-top-none {
  padding-top: 0;
}
.text-uppercase {
  text-transform: uppercase;
}
.block {
  display: block;
}
.left {
  float: left;
}
.right {
  float: right;
}
p.-has-header {
  margin-top: 0;
}
/*===========================================================================
  Colours options
  ===========================================================================*/
.fill-main {
  background-color: #0995ef;
  color: #ffffff;
}
.fill-sub {
  background-color: #404041;
  color: #ffffff;
}
.fill-highlight {
  background-color: #59c74f;
  color: #ffffff;
}
.fill-additional {
  background-color: #e53173;
  color: #ffffff;
}
.fill-main:hover,
.fill-sub:hover,
.fill-highlight:hover,
.fill-additional:hover {
  color: #ffffff;
}
.icon-main:before {
  color: #0995ef;
}
.icon-sub:before {
  color: #404041;
}
.icon-highlight:before {
  color: #59c74f;
}
.icon-white:before {
  color: #ffffff;
}
.icon-additional:before {
  color: #e53173;
}
.bg-white {
  background-color: #ffffff;
}
.bg-grey {
  background-color: #f1f1f2;
}
.bg-black {
  background-color: #000000;
}
.bg-grad-white-bottomleft {
  background: #f1f1f2;
  background: -moz-linear-gradient(45deg, #ffffff 0%, #f1f1f2 75%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #ffffff), color-stop(75%, #f1f1f2));
  background: -webkit-linear-gradient(45deg, #ffffff 0%, #f1f1f2 75%);
  background: -o-linear-gradient(45deg, #ffffff 0%, #f1f1f2 75%);
  background: -ms-linear-gradient(45deg, #ffffff 0%, #f1f1f2 75%);
  background: linear-gradient(45deg, #ffffff 0%, #f1f1f2 75%);
}
.bg-grad-white-bottomright {
  background: #f1f1f2;
  background: -moz-linear-gradient(-45deg, #f1f1f2 0%, #ffffff 75%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #f1f1f2), color-stop(75%, #ffffff));
  background: -webkit-linear-gradient(-45deg, #f1f1f2 0%, #ffffff 75%);
  background: -o-linear-gradient(-45deg, #f1f1f2 0%, #ffffff 75%);
  background: -ms-linear-gradient(-45deg, #f1f1f2 0%, #ffffff 75%);
  background: linear-gradient(135deg, #f1f1f2 0%, #ffffff 75%);
}
.bg-grad-white-topright {
  background: #ffffff;
  background: -moz-linear-gradient(45deg, #f1f1f2 0%, #ffffff 75%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #f1f1f2), color-stop(75%, #ffffff));
  background: -webkit-linear-gradient(45deg, #f1f1f2 0%, #ffffff 75%);
  background: -o-linear-gradient(45deg, #f1f1f2 0%, #ffffff 75%);
  background: -ms-linear-gradient(45deg, #f1f1f2 0%, #ffffff 75%);
  background: linear-gradient(45deg, #f1f1f2 0%, #ffffff 75%);
}
.bg-grad-white-topleft {
  background: #ffffff;
  background: -moz-linear-gradient(-45deg, #ffffff 0%, #f1f1f2 75%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffffff), color-stop(75%, #f1f1f2));
  background: -webkit-linear-gradient(-45deg, #ffffff 0%, #f1f1f2 75%);
  background: -o-linear-gradient(-45deg, #ffffff 0%, #f1f1f2 75%);
  background: -ms-linear-gradient(-45deg, #ffffff 0%, #f1f1f2 75%);
  background: linear-gradient(135deg, #ffffff 0%, #f1f1f2 75%);
}
.text-main,
.text-main:hover {
  color: #0995ef;
}
.text-sub,
.text-sub:hover {
  color: #404041;
}
.text-highlight,
.text-highlight:hover {
  color: #59c74f;
}
.text-additional,
.text-additional:hover {
  color: #e53173;
}
.text-white,
.text-white:hover {
  color: #ffffff;
}
.text-inherit,
.text-inherit:hover {
  color: inherit;
}
.page-list {
  margin-top: 8px;
}
.page-list-icon:before {
  font-size: 150%;
}
/*===========================================================================
  Archive
  ===========================================================================*/
.nav-icon {
  display: inline-block;
  height: 40px;
  line-height: 40px;
}
.nav-icon.-prev {
  background: url(img/icon_prev.svg) no-repeat left 0;
  padding-left: 70px;
}
.nav-icon.-next {
  background: url(img/icon_next.svg) no-repeat right 0;
  padding-right: 70px;
}
.list-header {
  padding: 10px 20px;
  display: block;
  border-bottom: 2px solid #ffffff;
}
.list-header.-expand {
  background-image: url(img/icon_expand.svg);
  background-size: auto 50%;
  background-repeat: no-repeat;
  background-position: right 10px center;
}
.list-header.-collapse {
  background-image: url(img/icon_collapse.svg);
  background-size: auto 50%;
  background-repeat: no-repeat;
  background-position: right 10px center;
}
/*===========================================================================
  Tab boxes
  ===========================================================================*/
.tab-button {
  position: relative;
}
.tab-button.-inline {
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}
.tab-button.-active:before {
  content: "";
  display: block;
  width: 21px;
  height: 10px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  background: url(img/active_arrow.png) no-repeat center center;
  z-index: 10;
}
.tab-button.-rightarrow:before {
  content: "";
  display: block;
  width: 10px;
  height: 15px;
  position: absolute;
  right: -10px;
  top: 50%;
  margin-top: -7px;
  background: url(img/news_arrow.png) no-repeat center center;
  z-index: 10;
}
.tab-page {
  margin-top: 2px;
}
/*===========================================================================
  Flow boxes
  ===========================================================================*/
.flow-box {
  margin-bottom: 15px;
  position: relative;
}
.flow-box:before {
  content: "";
  display: block;
  width: 30px;
  height: 15px;
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -15px;
  background: url(img/flow_arrow.png) no-repeat center center;
  z-index: 10;
}
/*===========================================================================
  Popup boxes
  ===========================================================================*/
.popup-box-continaner {
  position: relative;
  cursor: pointer;
}
.popup-box {
  position: absolute;
  width: 88%;
  top: 0;
  left: 6%;
  display: none;
}
.popup-box.-active {
  width: 188%;
  z-index: 100;
  padding: 50px;
  display: block;
}
.popup-box-continaner:last-child .-active {
  width: 188%;
  left: -94%;
}
/*===========================================================================
  Organisation structure table
  ===========================================================================*/
.organisation-table {
  width: 100%;
  clear: both;
  border-collapse: separate;
  border-spacing: 5px;
}
.organisation-table-quater {
  width: 25%;
}
.organisation-table-half {
  width: 50%;
}
/*===========================================================================
  Contacts
  ===========================================================================*/
.contact-photo {
  width: 100px;
  margin-right: 20px;
  clear: both;
}
.contact-min-width {
  display: inline-block;
  min-width: 60px;
}
/*===========================================================================
  Share
  ===========================================================================*/
.share-icon {
  width: 50px;
  margin-right: 30px;
}
/*===========================================================================
  Light Border holder
  ===========================================================================*/
.light-border {
  border: 1px solid #e6e7e8;
}
.light-border.-top {
  border: none;
  border-top: 1px solid #e6e7e8;
}
.light-border.-bottom {
  border: none;
  border-bottom: 1px solid #e6e7e8;
}
/*===========================================================================
  Flip image holder
  ===========================================================================*/
.flip-image-holder {
  position: relative;
  cursor: pointer;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -o-perspective: 600px;
  -webkit-backface-visibility: hidden;
  display: inline-block;
  max-width: 100%;
}
.flip-image {
  display: block;
}
.flip-card {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 100%;
}
.flip-card.-back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transform: rotateX(0deg) rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-transform: rotateX(0deg) rotateY(-180deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  -o-transform: rotateX(0deg) rotateY(-180deg);
  -o-transform-style: preserve-3d;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -ms-transform: perspective(600px) rotateY(-180deg);
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.flip-card.-front {
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  -o-transform: rotateX(0deg) rotateY(0deg);
  -o-transform-style: preserve-3d;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -ms-transform: perspective(600px) rotateY(0deg);
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.flip-image-holder:hover .-back {
  -ms-transform: perspective(600px) rotateY(0deg) !important;
  -webkit-transform: rotateX(0deg) rotateY(0deg) !important;
  -moz-transform: rotateX(0deg) rotateY(0deg) !important;
  -o-transform: rotateX(0deg) rotateY(0deg) !important;
  z-index: 1000;
}
.flip-image-holder:hover .-front {
  -ms-transform: perspective(600px) rotateY(180deg) !important;
  -webkit-transform: rotateX(0deg) rotateY(180deg) !important;
  -moz-transform: rotateX(0deg) rotateY(180deg) !important;
  -o-transform: rotateX(0deg) rotateY(180deg) !important;
}
@media (max-width: 991px) {
  /*===========================================================================
      Text Layout
      ===========================================================================*/
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
  }
  h1,
  .text-title-main {
    font-size: 300%;
  }
  h2,
  .text-title-sub {
    font-size: 210%;
  }
  h3,
  .text-title-box {
    font-size: 170%;
    margin: 5px 0;
  }
  h4 {
    font-size: 140%;
    margin: 3px 0;
  }
  h5,
  h6,
  .text-title {
    margin: 3px 0;
    font-size: 100%;
  }
  .text-small {
    font-size: 90%;
  }
  .text-large {
    font-size: 130%;
  }
  .nav-link {
    padding: 20px 10px;
    font-size: 80%;
  }
  .nav-link.-home {
    padding-top: 13px;
  }
  .text-centered-sm {
    text-align: center;
  }
}
@media (max-width: 767px) {
  /*===========================================================================
      Structure
      ===========================================================================*/
  .-nopad-xs {
    padding-left: 0;
    padding-right: 0;
  }
  .section {
    padding: 20px 0;
  }
  .section.-header {
    padding: 0 0 20px 0;
  }
  .full-column-container {
    overflow-y: auto;
  }
  .full-column {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .full-column.box {
    margin-bottom: 0;
    padding-bottom: 15px;
  }
  .nav-link {
    padding: 15px 10px;
    font-size: 80%;
  }
  .subnav-link {
    padding: 5px 10px;
    font-size: 70%;
    display: block;
  }
  /*===========================================================================
      Text Layout
      ===========================================================================*/
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
  }
  h1,
  .text-title-main {
    font-size: 200%;
    margin: 20px 0;
  }
  h2,
  .text-title-sub {
    font-size: 180%;
  }
  h3,
  .text-title-box {
    font-size: 160%;
    margin: 5px 0;
  }
  h4 {
    font-size: 120%;
    margin: 3px 0;
  }
  h5,
  h6,
  .text-title {
    margin: 3px 0;
    font-size: 100%;
  }
  .text-small {
    font-size: 90%;
  }
  .text-large {
    font-size: 120%;
  }
  nav {
    position: relative;
  }
  .menu-title {
    margin: 0;
    padding: 10px 30px;
  }
  .menu-toggle {
    position: absolute;
    left: 0;
    top: 8px;
    display: block;
    background: url(img/menu_toggle.svg) no-repeat center center;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
  }
  .text-centered-xs {
    text-align: center;
  }
  /*===========================================================================
      Colours
      ===========================================================================*/
  .bg-white-xs {
    background: #ffffff;
  }
  .bg-grey-xs {
    background: #f1f1f2;
  }
  .bg-blue-xs {
    background: #0995ef;
  }
  /*===========================================================================
      Tab boxes
      ===========================================================================*/
  .tab-button.-active:before {
    display: none;
  }
  .tab-button.-rightarrow:before {
    display: none;
  }
  .tab-page {
    margin-top: 2px;
  }
  /*===========================================================================
      Other
      ===========================================================================*/
  .logo {
    margin: 0 auto;
  }
  .organisation-table {
    font-size: 65%;
  }
  .organisation-break {
    position: relative;
    height: 40px;
    border-top: 10px solid #ffffff;
    margin: 10px 0;
  }
  .organisation-arrow {
    position: absolute;
    top: -10px;
    display: block;
    height: 100%;
    width: 100%;
    background: url(img/organiser_arrow.svg) no-repeat center center;
  }
  .popup-box-continaner.right-xs .-active {
    width: 188%;
    left: -94%;
  }
  .page-list-icon:before {
    font-size: 80%;
  }
  .share-icon {
    width: 40px;
    margin-right: 15px;
  }
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}



/*====================================================
	HEADER TINT COLOUR
  ====================================================*/
  .tint.-header{
    /* 
    cp-orange : background-color: rgba(240, 99, 34, 0.5);
    cal-purple : background-color: rgba(147, 38, 132, 0.5);
    otc-blue : background-color: rgba(0, 90, 157, 0.5);
    atc-red : background-color: rgba(255, 9, 19, 0.5);
    etc-green : background-color: rgba(89, 199, 79, 0.5);
    */
    /*background-color: rgba(89, 199, 79, 0.5);*/
	background-color: rgba(89, 199, 79, 0.5);
  }

  /*====================================================
	HEADER NAV HIGHLIGHT COLOUR
  ====================================================*/
  .nav-link.-active{
    /* 
    cp-orange : background-color: rgb(240, 99, 34);
    cal-purple : background-color: rgb(147, 38, 132);
    otc-blue : background-color: rgb(0, 90, 157);
    atc-red : background-color: rgb(255, 9, 19);
    etc-green : background-color: rgb(89, 199, 79);
    */
   /*background-color: rgb(89, 199, 79);*/
   background-color: rgb(89, 199, 79);
  }
  .nav-arrow-colour{
    /* same as above, Fill attribute for SVG */
    /*fill:rgb(89, 199, 79);*/
	background-color: rgb(89, 199, 79);
  }
  .front-title-tint{
    /* same as above, Color attribute for main title only */
    /*color:rgb(89, 199, 79);*/
	background-color: rgb(89, 199, 79);
  }
  
  /***MENU***/
  #navcont{background-color: rgb(89, 199, 79);}
div.navbar{
	width:1170px;
	height:25px;
	margin:auto;
	background-color: black;
}


#navmenu{
	background-color: rgb(89, 199, 79);
	list-style:none;
	margin:0;
	padding:0;
	
}

#navmenu li{
	display:inline;
}

#navmenu a{

	display:block;
	float:left;
	height:25px;
	padding:0px 15px 0px 15px;
	background-color: rgb(89, 199, 79);
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	color:#fff;
	line-height:25px;
} 

#navmenu a:hover{
	/*background-color:#fefefe;*/
	/*border-left:1px solid #CCCCCC;*/
	color:#666666;
} 

#navmenu a.primo{
	background-color: rgb(140, 222, 77);
}

.contact-table {
    margin-bottom:50px;
}
.contact-table td img{
    width: 130px;
    border: none;
}
.contact-table .text  {
    vertical-align:top;
    padding: 5px;
    width: 375px;
}
.contact-table .info  {
    vertical-align:  bottom;
    padding:5px;
}
.contact-table th {
    width:375px;
    text-align:center;
    padding:5px;
    padding-left:5px;
    height:30px;
    background-color: #59c74f;
    color: #ffffff;
}